<div class="dialog-content">
    <mat-dialog-content style="text-align: center">
        <!--    <div style="justify-content: center; display:flex;">-->
        <!--      <img src="./assets/images/login/FingerPrint.png" width="16%" alt="">-->
        <!--    </div>-->
        <form [formGroup]="form">
            <div class="si">
                <mat-icon style="color: #015349">login</mat-icon>
                <mat-form-field color="accent">
                    <!--        <div style="justify-content: center; display:flex;">-->
                    <!--          <img src="./assets/images/login/user.png" width="8%" alt="">-->

                    <input matInput formControlName="username" placeholder="{{'Username' | translate}}" required>
                    <!--        </div>-->
                </mat-form-field>
            </div>
            <div class="si">
                <mat-icon style="color: #015349">vpn_key</mat-icon>
                <mat-form-field color="accent">
                    <!--        <div style="justify-content: center; display:flex;">-->
                    <!--          <img src="./assets/images/login/passwd.png" width="8%" alt="">-->
                    <input matInput formControlName="password" type="password" placeholder="{{'Password' | translate}}" required>
                    <!--        </div>-->
                </mat-form-field>
            </div>
            <mat-error *ngIf="error2">{{"Login or password are incorrect!" | translate}}</mat-error>
            <!--      <div style="margin: 8rem 4rem 2rem 4rem;">-->
            <!--          <input (click)="signIn()" id="sign-in-button" type="submit" value="Sign in">-->
            <!--        </div>-->
            <button (click)="signIn()" type="submit" class="signInbtn" mat-stroked-button>{{"Sign In" | translate}}
            </button>

        </form>
    </mat-dialog-content>
</div>
