<mat-card style="box-shadow: 0 0 black;">
    <mat-card-header>
        <div style="background-image: url({{authorPhoto}}); background-size: cover; background-position: center;" mat-card-avatar class="example-header-image"></div> <!--<img style="width: 100%; height: 100%;" src="{{authorPhoto}}" alt="photo">-->
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>{{authorId}} {{authorEmail}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="" alt="Photo">
    <mat-card-content>
        <p>
            {{description}}
        </p>
    </mat-card-content>
</mat-card>
