.container {
  padding: 10% 10%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
}

.slide-bar {
  width: 15%;
}

.main {
  width: calc(100% - 66px - 80px);
}

.title-slide-bar {
  font-style: normal;
  /*font-weight: bold;*/
  /*font-size: 30px;*/
  /*line-height: 35px;*/
  color: #827878;
  margin-bottom: 25%;
}

ul {
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

li {
  font-style: normal;
  font-weight: normal;
  /*font-size: 24px;*/
  /*line-height: 28px;*/
  color: #015349;
  margin-bottom: 10%;
}

.active {
  color: #DC5441!important;
}

.link {
  color: #015349;
  text-decoration: none;
}

table {
  width: 100%;
}

.btn-style {
  color: #fff;
  border-radius: 16px;
}

.mat-column-index {
  flex: 2rem;
  max-width: 2rem;
}

.mat-column-jointAuthors {
  flex: 6rem;
  max-width: 11rem;
}

.mat-column-fileName {
  flex: 5rem;
  max-width: 2rem;
}

.mat-column-year {
  flex: 3rem;
  max-width: 3rem;
}

.mat-column-titlePublication {
  flex: 6rem;
  max-width: 6rem;
}

.mat-column-type {
  flex: 9rem;
  max-width: 9rem;
}

.mat-column-city {
  flex: 6rem;
  max-width: 4rem;
}

.mat-column-publisher {
  flex: 6rem;
  max-width: 5rem;
}

.mat-column-Page {
  flex: 6rem;
  max-width: 4rem;
}

.mat-column-Url {
  flex: 6rem;
  max-width: 2rem;
}

.mat-column-Doi {
  flex: 6rem;
  max-width: 2rem;
}

.mat-column-actions {
  flex: 6rem;
  max-width: 6rem;
}

.mat-column-author {
  flex: 6rem;
  max-width: 4rem;
}

.mat-column-checkedUser {
  flex: 6rem;
  max-width: 5rem;
}
