<div class="container">
  <div class="content">
    <div class="slide-bar">
      <h2 class="title-slide-bar">Управление</h2>
      <nav>
        <ul>
          <li><a routerLink="../" class="link">Все преподаватели</a></li>
          <li><a routerLink="../all-patents" class="link">Все патенты</a></li>
          <li><a routerLink="./" routerLinkActive="active" class="link">Все публикации</a></li>
          <li><a routerLink="../all-dissets" class="link">Все диссоветы</a></li>
          <li><a routerLink="../all-science-projects" class="link">Все научные проекты</a></li>
        </ul>
      </nav>
    </div>
    <div class="main">
      <mat-table [dataSource]="dataSource" class="">
        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
          <mat-cell *matCellDef="let publication, let i = index"> {{i + 1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef> Автор </mat-header-cell>
          <mat-cell *matCellDef="let publication"> {{publication.userId.firstName}} {{publication.userId.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="titlePublication">
          <mat-header-cell *matHeaderCellDef> Название публикации </mat-header-cell>
          <mat-cell *matCellDef="let publication"> {{publication.pubName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Тип публикации </mat-header-cell>
          <mat-cell *matCellDef="let publication"> {{publication.pubType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="jointAuthors">
          <mat-header-cell *matHeaderCellDef> Соавторы </mat-header-cell>
          <mat-cell *matCellDef="let publication">
            <div>
              <div *ngFor="let coAuthors of publication.pubCoAuthor; let i = index">
                {{i + 1}}) {{coAuthors.coAuthorUser.firstName}} {{coAuthors.coAuthorUser.lastName}}
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef> Год </mat-header-cell>
          <mat-cell *matCellDef="let publication"> {{publication.pubYear}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="city">
          <mat-header-cell *matHeaderCellDef> Город </mat-header-cell>
          <mat-cell *matCellDef="let publication"> {{publication.pubCity}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="publisher">
          <mat-header-cell *matHeaderCellDef> Издатель </mat-header-cell>
          <mat-cell *matCellDef="let publication"> {{publication.pubPubName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Page">
          <mat-header-cell *matHeaderCellDef> Страницы </mat-header-cell>
          <mat-cell *matCellDef="let publication"> {{publication.pubPage}} - {{publication.pubEndPage}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Url">
          <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
          <mat-cell *matCellDef="let publication">{{publication.pubUrl}}</mat-cell>
        </ng-container>
        >
        <ng-container matColumnDef="Doi">
          <mat-header-cell *matHeaderCellDef> DOI </mat-header-cell>
          <mat-cell *matCellDef="let publication">{{publication.pubDoi}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fileName">
          <mat-header-cell *matHeaderCellDef> Файл </mat-header-cell>
          <mat-cell *matCellDef="let publication"> <a href="https://nir.iitu.kz/{{publication.pubFile}}" download=""><mat-icon color="primary">get_app</mat-icon></a> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="checkedUser">
          <mat-header-cell *matHeaderCellDef> Кем проверено </mat-header-cell>
          <mat-cell *matCellDef="let publication">
          <p *ngIf="publication.checkedUser">
            {{publication.checkedUser.firstName}} {{publication.checkedUser.lastName}}
          </p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Действие </mat-header-cell>
          <mat-cell *matCellDef="let publication">
            <div>
              <button *ngIf="publication.pubStatus == 'Under review' || publication.pubStatus == 'Returned for revision'" mat-flat-button color="accent" class="btn-style" (click)="updatePublicationStatus(publication.pubId, 2)">Принять</button>
              <button *ngIf="publication.pubStatus == 'Under review' || publication.pubStatus == 'Confirmed'" mat-raised-button color="warn" class="btn-style" style="margin-top: 2%; line-height: 17px; width: 92%;" (click)="updatePublicationStatus(publication.pubId, 3)">Отправить <br>на доработку</button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let publication; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
