<div mat-dialog-content class="box">
  <p>Пользователь: <span style="margin-left: 0%;">{{data.firstName + ' ' + data.lastName + ' ' + data.patronymic}}</span></p>
  <div class="flex-options-box">
    <div class="flex-label"><p style="margin-right: 15%">Роли:</p></div>
    <div class="flex-options-list">
      <form [formGroup]="formOptions">
        <div class="option-text"><mat-slide-toggle formControlName="option1">{{"Teacher" | translate}}</mat-slide-toggle></div>
        <div class="option-text"><mat-slide-toggle formControlName="option2">{{"Supervisor" | translate}}</mat-slide-toggle></div>
        <div class="option-text"><mat-slide-toggle formControlName="option3">{{"Secretary of the Dissertation Council" | translate}}</mat-slide-toggle></div>
      </form>
    </div>
  </div>

  <div class="center"><button mat-flat-button color="accent" class="center" (click)="saveChange()"><p style="color: #FFFFFF">{{"Save" | translate}}</p></button></div>
</div>
