<div *ngIf="!isMobile" style="min-height: 100%">
  <div style="margin: 2rem;">
    <button class="link" routerLink="../profile" style="border: 0; background: none; font-size: 16px">Главная > </button>
    <h4 style="display: inline; color: gray"> Пароль</h4>
  </div>
  <div class="content">
    <div style="width: 50%">
      <form [formGroup]="form">
        <div class="div-input">
        <mat-form-field class="example-full-width">
          <input placeholder="Текущий пароль" type="password" matInput required formControlName="currentPassword">
          <mat-error>Password Required!</mat-error>
        </mat-form-field>
        </div>

        <div class="div-input">
          <mat-form-field class="example-full-width">
            <input placeholder="Новый пароль" type="password" matInput required formControlName="password">
            <mat-error>Password Required!</mat-error>
          </mat-form-field>
        </div>

        <div class="div-input">
          <mat-form-field class="example-full-width">
            <input placeholder="Подтверждение нового пароля" type="password" matInput required formControlName="confirmPassword">
            <mat-error>Password Required!</mat-error>
          </mat-form-field>
          <mat-error *ngIf="passwordCheck">Passwords don't much</mat-error>
        </div>

        <div style="text-align: center">
          <input (click)="checkPass()" class="btn" type="submit" value="ПОМЕНЯТЬ ПАРОЛЬ">
        </div>

      </form>
    </div>
  </div>
</div>

<div style="margin: 5% 0" *ngIf="isMobile" fxLayout="column" fxLayoutGap="5%">
  <div>
    <button class="link" routerLink="../profile" style="border: 0; background: none; font-size: 16px">Главная >
    </button>
    <h4 style="display: inline; color: gray"> Пароль</h4>
  </div>

  <form [formGroup]="form">
    <div style="margin: 0 5%">
      <mat-form-field class="example-full-width">
        <input placeholder="Текущий пароль" type="password" matInput required formControlName="currentPassword">
        <mat-error>Password Required!</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input placeholder="Новый пароль" type="password" matInput required formControlName="password">
        <mat-error>Password Required!</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input placeholder="Подтверждение нового пароля" type="password" matInput required formControlName="confirmPassword">
        <mat-error>Password Required!</mat-error>
      </mat-form-field>
      <mat-error *ngIf="passwordCheck">Passwords don't much</mat-error>

    <div style="text-align: center">
      <input (click)="checkPass()" class="btn" type="submit" value="ПОМЕНЯТЬ ПАРОЛЬ">
    </div>
    </div>
  </form>

</div>
