<div style="min-height: 100%">
  <div style="margin: 2rem;">
    <button routerLink="./.." style="border: 0; background: none; font-size: 16px">Главная > </button>
    <h4 style="display: inline; color: gray"> Пароль</h4>
  </div>
  <div class="content">
    <div style="width: 50%">
      <form class="">
        <div class="div-input">
          <h1>Пароль</h1>
        </div>
        <div class="div-input">
          <mat-form-field>
            <mat-label>Текущий пароль</mat-label>
            <input matInput type="password">
          </mat-form-field>
        </div>
        <div class="div-input">
          <mat-form-field class="example-full-width">
            <mat-label>Новый пароль</mat-label>
            <input matInput type="password">
          </mat-form-field>
        </div>
        <div class="div-input">
          <mat-form-field class="example-full-width">
            <mat-label>Подтверждение нового пароля</mat-label>
            <input matInput type="password">
          </mat-form-field>
        </div>
        <div style="text-align: center">
          <input class="btn" type="submit" value="ПОМЕНЯТЬ ПАРОЛЬ">
        </div>
      </form>
    </div>
  </div>
</div>
