<div style="min-height: 100%">
  <div style="margin: 2rem;">
    <button class="link" routerLink="../profile" style="border: 0; background: none; font-size: 16px">Главная > </button>
    <h4 style="display: inline; color: gray"> Пароль</h4>
  </div>
  <div class="content">
    <div style="width: 50%">
      <form [formGroup]="form">
        <div class="div-input">
        <mat-form-field class="example-full-width">
          <input placeholder="Текущий пароль" type="password" matInput required formControlName="currentPassword">
          <mat-error>Password Required!</mat-error>
        </mat-form-field>
        </div>

        <div class="div-input">
          <mat-form-field class="example-full-width">
            <input placeholder="Новый пароль" type="password" matInput required formControlName="password">
            <mat-error>Password Required!</mat-error>
          </mat-form-field>
        </div>

        <div class="div-input">
          <mat-form-field class="example-full-width">
            <input placeholder="Подтверждение нового пароля" type="password" matInput required formControlName="confirmPassword">
            <mat-error>Password Required!</mat-error>
          </mat-form-field>
          <mat-error *ngIf="passwordCheck">Passwords don't much</mat-error>
        </div>

        <div style="text-align: center">
          <input (click)="checkPass()" class="btn" type="submit" value="ПОМЕНЯТЬ ПАРОЛЬ">
        </div>

      </form>

<!--      <form class="">-->
<!--        <div class="div-input">-->
<!--          <h1>Пароль</h1>-->
<!--        </div>-->
<!--        <div class="div-input">-->
<!--&lt;!&ndash;          <mat-form-field>&ndash;&gt;-->
<!--            <mat-form-field class="example-full-width">-->
<!--              <input placeholder="Текущий пароль:" type="password" matInput required formControlName="password">-->
<!--              <mat-error>Password is required</mat-error>-->
<!--            </mat-form-field>-->
<!--&lt;!&ndash;            <mat-label>Текущий пароль</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input matInput type="password">&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-form-field>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="div-input">-->
<!--          <mat-form-field class="example-full-width">-->
<!--            <input type="password" matInput placeholder="Новый пароль" formControlName="password">-->
<!--            <mat-error *ngIf="form.controls['password'].invalid">Password is required</mat-error>-->
<!--          </mat-form-field>-->
<!--          &lt;!&ndash;            <mat-label>Новый пароль</mat-label>&ndash;&gt;-->
<!--          &lt;!&ndash;            <input matInput type="password">&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="div-input">-->
<!--&lt;!&ndash;          <mat-form-field class="example-full-width">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-label>Подтверждение нового пароля</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input matInput type="password">&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-form-field>&ndash;&gt;-->
<!--          <mat-form-field class="example-full-width">-->
<!--            <input type="password" matInput placeholder="Подтверждение нового пароля" formControlName="confirmPassword">-->
<!--            <mat-error *ngIf="form.controls['confirmPassword'].invalid">Password is required</mat-error>-->
<!--            <mat-error *ngIf="form.controls['password'] !== form.controls['confirmPassword']">Password does not match</mat-error>-->
<!--          </mat-form-field>-->
<!--        </div>-->

<!--      </form>-->
    </div>
  </div>
</div>
