<div fxLayoutAlign="row" style="margin-bottom: 5%;">
  <div *ngIf="!isMobile" fxFlex="10"></div>
  <div fxLayout="column" fxLayoutGap="2%" fxFlex="100" fxFlex.gt-sm="80">
    <div fxLayoutAlign="center center">
      <h1 class="navigation">{{"Dissertation Councils" | translate}}</h1>
    </div>
    <div fxLayoutAlign="center center">
      <mat-table style="width: 100%" [dataSource]="dataSource">
        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef> №</mat-header-cell>
          <mat-cell *matCellDef="let disset, let i = index"> {{i + 1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="universityName">
          <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> {{"University" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let disset"> {{disset.disInfo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> {{"Action" | translate}}</mat-header-cell>
          <mat-cell fxLayoutAlign="center center" *matCellDef="let disset">
            <button mat-icon-button aria-label="Example icon button with a home icon">
              <mat-icon routerLink="{{'edit-disset/' + disset.disId}}">edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let disset; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <div fxLayoutAlign="center center">
      <button style="width: 200px;" routerLink="add-disset" mat-flat-button color="primary">{{"Add" | translate}}
        <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle_outline</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!isMobile" fxFlex="10"></div>
</div>
