<div class="container">
  <div class="content">
    <div class="title-div">
      <h1 class="title-text">Диссоветы</h1>
      <div class="box">
        <mat-table [dataSource]="dataSource" class="">
          <ng-container matColumnDef="index">
            <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
            <mat-cell *matCellDef="let disset, let i = index"> {{i + 1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="universityName">
            <mat-header-cell *matHeaderCellDef> ВУЗ </mat-header-cell>
            <mat-cell *matCellDef="let disset"> {{disset.universityName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Дейтсвие </mat-header-cell>
            <mat-cell *matCellDef="let disset">
              <button mat-icon-button aria-label="Example icon button with a home icon">
                <mat-icon routerLink="{{'edit-disset/' + disset.id}}">edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let disset; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div class="btn-div">
          <button routerLink="add-disset" mat-flat-button color="primary" class="btn-style">add <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle_outline</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>
