.container {
  padding: 5% 19%;
}

.content {
  font-family: 'Roboto', sans-serif;
}

.title-text {
  font-style: normal;
  font-weight: bold;
  color: #8F1812;
  margin-left: 80px;
}

.box {
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  padding: 50px 80px 200px;
}

table {
  width: 100%;
}

.btn-style {
  color: #fff;
  margin: 0 auto;
}

.btn-div {
  text-align: center;
  margin-top: 50px;
}

