<div class="container">
  <div class="content">
    <div class="nav-text">
      <button routerLink="../" class="btn-nav-header">Доп. возможности</button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
      Добавить диссовет
    </div>

    <div class="form-box">
      <form [formGroup]="form">
        <p style="color: darkred; font-weight: 500; font-size: 18px">Новый диссовет: </p>

        <mat-form-field>
          <mat-label>Название</mat-label>
          <input matInput formControlName="disInfo" type="text" required>
          <mat-error>The field is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Начиная с</mat-label>
          <input matInput formControlName="disStartDate" type="date" required>
          <mat-error>The field is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Заканчивая в</mat-label>
          <input matInput formControlName="disStopDate" type="date" required>
          <mat-error>The field is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Основание создания(№ приказа МОНРК)</mat-label>
          <input matInput formControlName="ministryOrder" type="number" required>
          <mat-error>The field is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Количественный состав (чел.)</mat-label>
          <input matInput formControlName="membersNum" type="number" required>
          <mat-error>The field is required.</mat-error>
        </mat-form-field>

        <!--TODO [disabled]="form.invalid"-->
        <button [disabled]="form.invalid" mat-raised-button color="primary" ><p
                style="color: white; margin: 0; padding: 0" (click)="add()">Создать</p></button>
      </form>
    </div>
  </div>
</div>
