<div class="container">
  <div class="content">
    <div class="nav-text">
      <button class="btn-nav-header">Доп. возможности</button> <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon> Добавить диссовет
    </div>

    <div class="form-box">
      <form [formGroup]="form">
        <div class="form-div">
          <div class="label-div">
            <label>ВУЗ: </label>
          </div>
          <div class="input-div">
            <input type="text">
          </div>
        </div>
        <div class="form-div">
          <div class="label-div">
            <label>Роль: </label>
          </div>
          <div class="input-div">
            <input type="text">
          </div>
        </div>
        <div class="form-div">
          <div class="label-div">
            <label>Специальность: </label>
          </div>
          <div  class="input-div">
            <input type="text">
          </div>
        </div>
        <div class="form-div">
          <div class="label-div">
            <label>Период деятельности: </label>
          </div>
          <div class="input-div">
            <input type="text">
          </div>
        </div>
        <div class="form-div">
          <div class="label-div">
            <label>Номер и дата приказа: </label>
          </div>
          <div class="input-div">
            <input type="text">
          </div>
        </div>
        <div style="text-align: center">
          <input class="btn" type="submit" value="save">
        </div>
      </form>
    </div>
  </div>
</div>
