:host {
  >.container {
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: none;
  }
  ::ng-deep {
    .mat-tab-body-wrapper {
      width: 100%;
    }
    .mat-tab-group {
      flex-direction: row;
    }
    .mat-tab-header {
      border-bottom: none;
    }
    .mat-tab-header-pagination {
      display: none !important;
    }
    .mat-tab-labels {
      flex-direction: column;
    }
    .mat-ink-bar {
      height: 100%;
      left: 98% !important;
    }
    .mat-tab-body-wrapper {
      flex: 1 1 auto;
    }
  }
}
.nameHeader{
  color: #8F1812;
  font-size: 150%;
  text-align: left;
  margin: 1% 5% 3%;
  font-weight: 500;
}
mat-table {
  width: 100%;
}
