.example-container {
  width: 90%;
  margin: 10px;
  height: 100%;
}
mat-drawer{
  width: 20%;
}
.error{
  background: #e74c3c!important;
}
.success{
  background: #2ecc71!important;
}
.message{
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff
}
.alert-danger {

}
.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0;
  margin-left: 0;
}
table{
  width: 100%;
}
th{
  font-family: "Essays 1743", "Linux Libertine", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
  font-size: smaller;
  color: gray;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.nameHeader{
  color: darkblue;
  font-size: 150%;
  text-align: left;
  margin: 1% 5% 3%;
}
