<div style="width: 1000px;" fxLayoutAlign="center start" fxLayout="column">
    <h2 style="color: #8F1812; margin: 10px;"> 4. Воспитательная, профориентационная, общественная работа, работа по оказанию
        платных услуг,
        оборудованию кабинетов, повышению квалификации</h2>

    <div style="width: 100%;">
        <mat-table [dataSource]="gettedEduSocials" style="width: 100%;">
            <ng-container matColumnDef="eduId">
                <mat-header-cell *matHeaderCellDef> Порядковый номер №</mat-header-cell>
                <mat-cell *matCellDef="let activity, let i = index"> {{i + 1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="activities">
                <mat-header-cell *matHeaderCellDef> Наименование работы</mat-header-cell>
                <mat-cell *matCellDef="let activity"> {{activity.activities}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="implementation">
                <mat-header-cell *matHeaderCellDef>Выполнение</mat-header-cell>
                <mat-cell *matCellDef="let activity"> {{activity.implementation}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Дейтсвие</mat-header-cell>
                <mat-cell *matCellDef="let activity">
                    <button mat-stroked-button color="warn" (click)="editTableRow({data: activity, table: 'EduSocial'})">
                        Изменить
                    </button>
                    <button style="margin-left: 5%" mat-stroked-button color="warn"
                            (click)="deleteTableRow({data: activity, table: 'EduSocial'})">
                        Удалить
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns4"></mat-header-row>
            <mat-row *matRowDef="let activity; columns: displayedColumns4;"></mat-row>

        </mat-table>
    </div>
</div>
