.content{
  display: flex;
  justify-content: center;
  margin: 8rem;
}
label{
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #A8A4A4;
    width: 200px;
    margin-right: 5%;
}
input:not(.btn){
  background: #FDFDFD;
  /*border: 1px solid #0CB5A0;*/
  box-sizing: border-box;
  border-radius: 8px;
  padding: .5rem 1rem;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  width: 100%;
}
.form-div{
  margin: 2rem;
  display: flex;
}
/*.label-div{*/
/*  align-items: center;*/
/*  display: flex;*/
/*  justify-content: flex-end;*/
/*  width: 30%;*/
/*}*/
.input-div{
  margin-left: 2rem;
  width: 70%;
}
.btn{
  background: #0CB5A0;
  border: 0;
  border-radius: 8px;
  margin-top: 5rem;
  color: white;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  padding: .8rem 1.2rem;
}
mat-form-field{
    width: 70%;
}
.forma{
    horiz-align: right;
    text-align: right;
    width: 55%;
    margin-left: 15%;
}
