<div *ngIf="!isMobile" style="min-height: 100%">
  <div style="margin: 2rem;">
    <button class="link" routerLink="../profile" style="border: 0; background: none; font-size: 16px">{{"Home" | translate}} ></button>
    <h4 style="display: inline; color: gray"> {{"Settings" | translate}}</h4>
  </div>
  <div class="content">
    <div style="width: 70%">
      <form [formGroup]="updateProfileForm">
        <div class="forma">
          <label>{{"Name" | translate}}: </label>
          <mat-form-field>
          <input placeholder="First Name" type="text" matInput required formControlName="firstName">
          <mat-error>First Name Required!</mat-error>
        </mat-form-field>
        </div>

        <div class="forma">
        <label>{{"Surname" | translate}}: </label>
        <mat-form-field>
          <input placeholder="Last Name" type="text" matInput required formControlName="lastName">
          <mat-error>Last Name Required!</mat-error>
        </mat-form-field>
        </div>

        <div class="forma"><label>{{"Patronymic" | translate}}: </label>
        <mat-form-field>
          <input placeholder="Patronymic" type="text" matInput required formControlName="patronymic">
          <mat-error>Patronymic Required!</mat-error>
        </mat-form-field></div>

       <div class="forma"> <label>E-mail: </label>
        <mat-form-field>
          <input placeholder="E-mail" type="text" matInput required formControlName="email">
          <mat-error>E-mail Required!</mat-error>
        </mat-form-field>
       </div>


        <div class="forma"> <label> {{"Contacts" | translate}}: </label>
          <mat-form-field>
            <input placeholder="Your phohe number" type="text" matInput required formControlName="phoneNumber">
            <mat-error>This field is required!</mat-error>
          </mat-form-field>
        </div>

        <div style="text-align: center; margin: 5%">
          <button color="primary" (click)="updateProfile('Successfully changed', 'OK')" routerLink="/.." type="submit" mat-stroked-button>Сохранить</button>
        </div>

<!--        <div class="form-div">-->
<!--          <div class="label-div">-->
<!--            <label>Имя: </label>-->
<!--          </div>-->
<!--          <div class="input-div">-->
<!--            <input class="form-control" id="firstName" name="firstName" matInput type="text" formControlName="firstName" #firstName required>-->
<!--          </div>-->
<!--        </div>-->


<!--        <div class="form-div">-->
<!--          <div class="label-div">-->
<!--            <label>Фамилия: </label>-->
<!--          </div>-->
<!--          <div class="input-div">-->
<!--            <input type="text" formControlName="lastName">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-div">-->
<!--          <div class="label-div">-->
<!--            <label>Отчество: </label>-->
<!--          </div>-->
<!--          <div  class="input-div">-->
<!--            <input type="text" formControlName="patronymic">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-div">-->
<!--          <div class="label-div">-->
<!--            <label>E-mail: </label>-->
<!--          </div>-->
        <!--          <div class="input-div">-->
        <!--            <input type="text" formControlName="email" required="required">-->
        <!--          </div>-->
        <!--        </div>-->

      </form>
    </div>
  </div>
</div>

<div style="margin: 5% 0" *ngIf="isMobile" fxLayout="column" fxLayoutGap="5%">
  <div>
    <button class="link" routerLink="../profile" style="border: 0; background: none; font-size: 16px">{{"Home" | translate}} >
    </button>
    <h4 style="display: inline; color: gray"> {{"Settings" | translate}}</h4>
  </div>

  <form [formGroup]="updateProfileForm">
    <div fxLayout="column" style="margin: 0 5%">
      <mat-form-field class="example-full-width">
        <input placeholder="{{'Name' | translate}}" type="text" matInput required formControlName="firstName">
        <mat-error>First Name Required!</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input placeholder="{{'Surname' | translate}}" type="text" matInput required formControlName="lastName">
        <mat-error>Last Name Required!</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input placeholder="{{'Patronymic' | translate}}" type="text" matInput required formControlName="patronymic">
        <mat-error>Patronymic Required!</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input placeholder="E-mail" type="text" matInput required formControlName="email">
        <mat-error>E-mail Required!</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input placeholder="Your phohe number" type="text" matInput required formControlName="phoneNumber">
        <mat-error>This field is required!</mat-error>
      </mat-form-field>
      <div style="text-align: center; margin: 5%">
        <button color="primary" (click)="updateProfile('Successfully changed', 'OK')" routerLink="/.." type="submit"
                mat-stroked-button>{{"Save" | translate}}
        </button>
      </div>
    </div>
  </form>

</div>
