<div class="content">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Создать публикацию">
<!--            <div style="display: flex; justify-content: center;">-->
<!--                TODO: do the following ref-->
<!--            <div style="margin: 1.5rem 0rem; display: block" class="nav-head"> &lt;!&ndash;(click)="generatePdf()"&ndash;&gt;-->
<!--                <button  style="margin-top: 5%;" mat-stroked-button color="primary">Cоздать cписок научных трудов</button>-->
<!--            </div>-->
            <div class="Inner">
                <form [formGroup]="publicationForm" class="example-form">
                    <p style="color: darkred; font-weight: 500; font-size: 18px">Добавить в мои публикации: </p>
                    <mat-form-field>
                        <mat-label>Тип источника</mat-label>
                        <mat-select [(ngModel)]="selectedValue" required>
                            <mat-option *ngFor="let i of elements" [value]="i.value">
                                {{i.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Cоавтор</mat-label>
                        <input matInput formControlName="pubCoAuthor" type="text" placeholder="Ex. Will Smith">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Название</mat-label>
                        <input matInput formControlName="pubName" type="text" placeholder="Ex. name">
                        <mat-error>
                            Publication Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Год</mat-label>
                        <input matInput formControlName="pubYear" type="date">
                        <mat-error>
                            Publication Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Название журнала/издательства</mat-label>
                        <input matInput formControlName="pubPubName" type="text" placeholder="Ex. name">
                        <mat-error>
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Город</mat-label>
                        <input matInput formControlName="pubCity" type="text" placeholder="Ex. Almaty">
                        <mat-error>
                            City is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Номер страницы публикации</mat-label>
                        <input matInput formControlName="pubPage" type="text" placeholder="Ex. 230">
                        <mat-error>
                            Publication's number of pages is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="example-full-width">
                        <mat-label>URL</mat-label>
                        <input matInput formControlName="pubUrl" type="text" placeholder="Ex. https//iitu.kz">
                        <mat-error>
                            URL is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>DOI</mat-label>
                        <input matInput formControlName="pubDoi" type="text" placeholder="Ex. https//iitu.kz">
                        <mat-error>
                            DOI is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <div>
                        <button mat-stroked-button>Загрузить файл</button>
                    </div>

                    <button mat-raised-button color="primary" [disabled]="publicationForm.invalid"><p
                            style="color: white; margin: 0; padding: 0">Сохранить публикацию</p></button>

                </form>
            </div>
<!--            </div>-->
        </mat-tab>

        <mat-tab label="Создать мероприятие">
            <div class="Inner">
                <form [formGroup]="eventForm" class="example-form">
                    <p style="color: darkred; font-weight: 500; font-size: 18px">Добавить в мои мероприятия: </p>

                    <mat-form-field>
                        <mat-label>Тип мероприятия</mat-label>
                        <mat-select [(ngModel)]="selectedValue" required formControlName="event_type">
                            <mat-option *ngFor="let i of elements2" [value]="i.value">
                                {{i.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Роль</mat-label>
                        <mat-select [(ngModel)]="selectedValue" required formControlName="event_role">
                            <mat-option *ngFor="let i of elements3" [value]="i.value">
                                {{i.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Название</mat-label>
                        <input matInput formControlName="event_name" type="text" placeholder="Ex. Smth.">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Год</mat-label>
                        <input matInput formControlName="event_date" type="date">
                        <mat-error>
                            Publication Year is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="example-full-width">
                        <mat-label>Город</mat-label>
                        <input matInput formControlName="event_city" type="text" placeholder="Ex. Almaty">
                        <mat-error>
                            City is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>



                    <mat-form-field class="example-full-width">
                        <mat-label>URL</mat-label>
                        <input matInput formControlName="event_url" type="text" placeholder="Ex. https//iitu.kz">
                        <mat-error>
                            URL is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>


                    <div>
                        <button mat-stroked-button>Загрузить файл</button>
                    </div>

                    <button mat-raised-button color="primary" [disabled]="publicationForm.invalid"><p
                            style="color: white; margin: 0; padding: 0">Сохранить публикацию</p></button>

                </form>
            </div>
        </mat-tab>

        <mat-tab label="Создать научный проект">
            <div class="Inner" style="display: flex">
                <div>
                <button (click)="generatePdf()" style="border-color: white; margin-top: 5%;" mat-stroked-button color="primary">Cоздать cписок научных трудов</button>
                </div>
                <div style="margin-left: 5%">
                    <p style="color: darkred; font-weight: 500; font-size: 18px">Добавить в мои проекты: </p>
                    <form [formGroup]="newProjForm" class="example-form">


                        <mat-form-field class="example-full-width">
                            <mat-label>ИРН</mat-label>
                            <input matInput formControlName="scId" type="text" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Наименование</mat-label>
                            <input matInput formControlName="scName" type="text" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Тип</mat-label>
                            <input matInput formControlName="scType" type="text" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Раздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scPriority" required>
                                <mat-option *ngFor="let i of dividers" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error>This is the required field!</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-0'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubPriority" required>
                                <mat-option *ngFor="let i of array1" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error>This is the required field!</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-1'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubPriority" required>
                                <mat-option *ngFor="let i of array2" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error>This is the required field!</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-2'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubPriority" required>
                                <mat-option *ngFor="let i of array3" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error>This is the required field!</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-2' && this.newProjForm.get('scSubPriority').value === 'element-0'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array31" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-2' && this.newProjForm.get('scSubPriority').value === 'element-1'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array32" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-2' && this.newProjForm.get('scSubPriority').value === 'element-2'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array33" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-2' && this.newProjForm.get('scSubPriority').value === 'element-3'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array34" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-2' && this.newProjForm.get('scSubPriority').value === 'element-4'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array35" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-2' && this.newProjForm.get('scSubPriority').value === 'element-5'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array36" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-3'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array4" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-4'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array5" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-3' && newProjForm.get('scSubPriority').value === 'element-0'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array51" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-3' && newProjForm.get('scSubPriority').value === 'element-1'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array52" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-3' && newProjForm.get('scSubPriority').value === 'element-2'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array53" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-5'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array6" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-5' && newProjForm.get('scSubPriority').value === 'element-0'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array61" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-5' && newProjForm.get('scSubPriority').value === 'element-2'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array63" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === 'element-6'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scSubPriority">
                                <mat-option *ngFor="let i of array7" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Заказчик</mat-label>
                            <input matInput formControlName="scCustomer" type="text" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Научный руководитель</mat-label>
                            <input matInput formControlName="scFirstName" type="text" required readonly>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Исполнитель</mat-label>
                            <input matInput formControlName="scExecutor" type="text" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Дата договора</mat-label>
                            <input matInput formControlName="scAgrDate" type="date" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Регистрационный номер</mat-label>
                            <input matInput formControlName="scNum" type="text" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Дата начала проекта</mat-label>
                            <input matInput formControlName="scStDate" type="date" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Дата сдачи проекта</mat-label>
                            <input matInput formControlName="scEndDate" type="date" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Общая сумма гранта</mat-label>
                            <input matInput formControlName="scTotalSum" type="number" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Подразделение</mat-label>
                            <mat-select [(ngModel)]="selectedValue" formControlName="scDept">
                                <mat-option *ngFor="let i of div" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <button mat-raised-button [disabled]="newProjForm.invalid">Создать научный проект</button>


                    </form>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Создать курсы повышения квалификации">
            <div class="Inner">
                <form [formGroup]="courseForm"  class="example-form">
                    <p style="color: darkred; font-weight: 500; font-size: 18px">Добавить в мои курсы: </p>
                    <mat-form-field>
                        <mat-label>№</mat-label>
                        <input type="number" matInput formControlName="No">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>ФИО</mat-label>
                        <input type="number" matInput formControlName="FL">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Форма обучения и тема</mat-label>
                        <input type="number" matInput formControlName="form">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Базовый центр повышения квалификации</mat-label>
                        <input type="number" matInput formControlName="center">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Объем часов</mat-label>
                        <input type="number" matInput formControlName="hours">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Стоимость курсов</mat-label>
                        <input type="number" matInput formControlName="price">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Сроки прохождения</mat-label>
                        <input type="number" matInput formControlName="deadlines">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>№ Сертификата и дата</mat-label>
                        <input type="number" matInput formControlName="certificates">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <button mat-raised-button [disabled]="courseForm.invalid">Создать курс</button>

                </form>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>
