<div class="content">
<!--    <mat-tab-group mat-align-tabs="center">-->
<!--        <mat-tab label="Создать публикацию">-->
<!--            <div style="display: flex; justify-content: center;">-->
<!--                TODO: do the following ref-->
<!--            <div style="margin: 1.5rem 0rem; display: block" class="nav-head"> &lt;!&ndash;(click)="generatePdf()"&ndash;&gt;-->
<!--                <button  style="margin-top: 5%;" mat-stroked-button color="primary">Cоздать cписок научных трудов</button>-->
<!--            </div>-->
            <div class="Inner" *ngIf="_data === 'pub'">
                <form [formGroup]="publicationForm" class="example-form">
                    <p style="color: darkred; font-weight: 500; font-size: 18px">Добавить в мои публикации: </p>
                    <mat-form-field>
                        <mat-label>Тип источника</mat-label>
                        <mat-select [(ngModel)]="selectedValue" formControlName="pubType" required>
                            <mat-option *ngFor="let i of elements" [value]="i.value">
                                {{i.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="publicationForm.get('pubType').value != 'Учебник'">
                        <mat-label>Где опубликовано</mat-label>
                        <mat-select formControlName="pubPublished" required>
                            <mat-option *ngFor="let i of elements1;" [value]="i.value">
                                {{i.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="publicationForm.get('pubType').value == 'Учебник'">
                        <mat-label>Где опубликовано</mat-label>
                        <mat-select formControlName="pubPublished" required>
                            <mat-option *ngFor="let i of elements0" [value]="i.value">
                                {{i.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

<!--                    <mat-form-field class="example-full-width">-->
<!--                        <mat-label>Cоавтор</mat-label>-->
<!--                        <input matInput formControlName="pubCoAuthor" type="text" placeholder="Ex. Will Smith">-->
<!--                    </mat-form-field>-->


                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip
                                    *ngFor="let fruit of coAuthorsFullNames"
                                    [selectable]="selectable"
                                    [removable]="removable"
                                    (removed)="remove(fruit)">
                                {{fruit}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input
                                    placeholder="Соавторы..."
                                    #fruitInput
                                    [formControl]="coAuthorsCtrl"
                                    [matAutocomplete]="auto"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let fruit of filteredCoAuthorsFullNames | async" [value]="fruit">
                                {{fruit}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Название</mat-label>
                        <input matInput formControlName="pubName" type="text" placeholder="Ex. name" required>
                        <mat-error>
                            Publication Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Год</mat-label>
<!--                        <input matInput formControlName="pubYear" type="date" required>-->
                        <mat-select  required formControlName="pubYear">
                            <mat-option *ngFor="let i of years" [value]="i + '-01-01'">
                                {{i}}
                            </mat-option>
<!--                            <option *ngFor="let i of years" [selected]="yy === i">{{i}}</option>-->
<!--                        </mat-select>-->
                        </mat-select>
                        <mat-error>
                            Publication Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Название журнала/издательства</mat-label>
                        <input matInput formControlName="pubPubName" type="text" placeholder="Ex. name" required>
                        <mat-error>
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Город</mat-label>
                        <input matInput formControlName="pubCity" type="text" placeholder="Ex. Almaty" required>
                        <mat-error>
                            City is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Начало публикации(страницы)</mat-label>
                        <input matInput formControlName="pubPage" type="number" placeholder="Ex. 230">
                        <mat-error>
                            Publication's number of pages is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Конец страницы публикации(страница)</mat-label>
                        <input matInput formControlName="pubEndPage" type="number" placeholder="Ex. 230">
                        <mat-error>
                            Publication's number of pages is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="example-full-width">
                        <mat-label>URL</mat-label>
                        <input matInput formControlName="pubUrl" type="text" placeholder="Ex. https//iitu.kz">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>DOI</mat-label>
                        <input matInput formControlName="pubDoi" type="text" placeholder="Ex. https//iitu.kz">
                    </mat-form-field>
<!--                    <div>-->
<!--                        <button mat-raised-button (click)="openUploadPubDialog()">Загрузить файл</button>-->
<!--                    </div>-->


                    <div>
                        <input  type="file"
                               (change)="onPubFileChange($event)">
                    </div>

                    <button mat-raised-button color="primary" [disabled]="publicationForm.invalid" style="margin-top: 3%;">
                        <p style="color: white; margin: 0; padding: 0" (click)="sendTeacherPublication('Successfully saved', 'OK')">Сохранить публикацию</p></button>
                </form>
            </div>
<!--            </div>-->
<!--        </mat-tab>-->

<!--        <mat-tab label="Создать мероприятие">-->
            <div class="Inner" *ngIf="_data === 'event'">
                <form [formGroup]="eventForm" class="example-form">
                    <p style="color: darkred; font-weight: 500; font-size: 18px">Добавить в мои мероприятия: </p>

                    <mat-form-field>
                        <mat-label>Тип мероприятия</mat-label>
                        <mat-select [(ngModel)]="selectedValue3" required formControlName="event_type">
                            <mat-option *ngFor="let i of elements2" [value]="i.value">
                                {{i.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Роль</mat-label>
                        <mat-select [(ngModel)]="selectedValue" required formControlName="event_role">
                            <mat-option *ngFor="let i of elements3" [value]="i.value">
                                {{i.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Название</mat-label>
                        <input matInput formControlName="event_name" type="text" placeholder="Ex. Smth." required>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Дата</mat-label>
                        <input matInput formControlName="event_date" type="date" required>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Город</mat-label>
                        <input matInput formControlName="event_city" type="text" placeholder="Ex. Almaty" required>
                        <mat-error>
                            City is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>URL</mat-label>
                        <input matInput formControlName="event_url" type="text" placeholder="Ex. https//iitu.kz">
                        <mat-error>
                            URL is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <div>
                        <input type="file"
                               (change)="onEventFileChange($event)">
                    </div>

<!--                    <div>-->
<!--                        <button mat-stroked-button (click)="openUploadEventDialog()">Загрузить файл/Сертификат</button>-->
<!--                    </div>-->

                    <button mat-raised-button color="primary" [disabled]="eventForm.invalid" style="margin-top: 3%" (click)="sendTeacherEvent('Successfully saved', 'OK')">
                        <p style="color: white; margin: 0; padding: 0">Добавить мероприятие</p></button>
                </form>
            </div>
<!--        </mat-tab>-->


<!--        <mat-tab label="Добавить патент">-->
            <div class="Inner" *ngIf="_data === 'patent'">
                <form [formGroup]="patentForm" class="example-form">
                    <p style="color: darkred; font-weight: 500; font-size: 18px">Добавить в патенты: </p>

                    <mat-form-field class="example-full-width">
                        <mat-label>Номер патента</mat-label>
                        <input matInput formControlName="ptnt_number" type="number" required>
                        <mat-error>
                            This is the required field!
                        </mat-error>
                    </mat-form-field>


<!--                    <country-picker [flag]="false" [setValue]="'cca3'" [setName]="'name.common'" [classes]="['form-control']"></country-picker>-->

                    <mat-form-field>
                        <mat-label>Страна</mat-label>
                        <mat-select formControlName="ptnt_country" required>
                            <mat-option *ngFor="let i of allCountries" [value]="i.name">
                                {{i.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Тип патента</mat-label>
                        <mat-select formControlName="ptnt_type_id" required>
                            <mat-option *ngFor="let i of elements4" [value]="i.value">
                                {{i.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Опубликован в TR</mat-label>
                        <input matInput formControlName="ptnt_published_TR" type="text" required>
                        <mat-error>
                            This is the required field!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Дата выдачи</mat-label>
                        <input matInput formControlName="ptnt_issue_date" type="date" required>
                        <mat-error>
                            This is the required field!
                        </mat-error>
                    </mat-form-field>


                    <div>
                        <input type="file"
                               (change)="onPatentFileChange($event)">
                    </div>

<!--                    <div>-->
<!--                        <button mat-raised-button (click)="openUploadPatentDialog()">Загрузить файл</button>-->
<!--                    </div>-->

                    <button mat-raised-button color="primary" [disabled]="patentForm.invalid" style="margin-top: 3%" (click)="sendTeacherPatent('Successfully saved', 'OK')">
                        <p style="color: white; margin: 0; padding: 0">Сохранить</p></button>
                </form>
            </div>
<!--        </mat-tab>-->


<!--        <mat-tab label="Создать научный проект">-->
            <div class="Inner" *ngIf="_data === 'science'" style="display: flex">
                <div>
<!--                <button (click)="generatePdf()" style="border-color: white; margin-top: 5%;" mat-stroked-button color="primary">Cоздать cписок научных трудов</button>-->
                </div>
                <div style="margin-left: 5%">
                    <p style="color: darkred; font-weight: 500; font-size: 18px">Добавить в мои проекты: </p>
                    <form [formGroup]="newProjForm" class="example-form">

                        <mat-form-field class="example-full-width">
                            <mat-label>ИРН</mat-label>
                            <input matInput formControlName="scIrn" type="text" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Наименование</mat-label>
                            <input matInput formControlName="scName" type="text" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Тип</mat-label>
                            <input matInput formControlName="scType" type="text" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Раздел</mat-label>
                            <mat-select formControlName="scPriority" required>
                                <mat-option *ngFor="let i of dividers" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error>This is the required field!</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '1. Энергетика и машиностроение'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubPriority" required>
                                <mat-option *ngFor="let i of array1" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error>This is the required field!</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '2. Рациональное использование природных ресурсов, в том числе водных ресурсов, геология, переработка, новые материалы и технология, безопасные изделия и конструкции'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubPriority" required>
                                <mat-option *ngFor="let i of array2" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error>This is the required field!</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '3. Информационные, телекоммуникационные и космические технологии, научные исследования в области естественных наук'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubPriority" required>
                                <mat-option *ngFor="let i of array3" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error>This is the required field!</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '3. Информационные, телекоммуникационные и космические технологии, научные исследования в области естественных наук' && newProjForm.get('scSubPriority').value === '3.1. Интеллектуальные информационные технологии'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array31" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '3. Информационные, телекоммуникационные и космические технологии, научные исследования в области естественных наук' && newProjForm.get('scSubPriority').value === '3.2. Телекоммуникационные технологии'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array32" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '3. Информационные, телекоммуникационные и космические технологии, научные исследования в области естественных наук' && newProjForm.get('scSubPriority').value === '3.3. Космические технологии'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array33" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '3. Информационные, телекоммуникационные и космические технологии, научные исследования в области естественных наук' && newProjForm.get('scSubPriority').value === '3.4. Высокопроизводительные вычислительные технологии'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array34" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '3. Информационные, телекоммуникационные и космические технологии, научные исследования в области естественных наук' && newProjForm.get('scSubPriority').value === '3.5. Методы и системы информационной безопасности и защиты данных'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array35" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

<!--                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '3. Информационные, телекоммуникационные и космические технологии, научные исследования в области естественных наук' && newProjForm.get('scSubPriority').value === '3.6. Научные исследования в области естественных наук'">-->
<!--                            <mat-label>Подраздел</mat-label>-->
<!--                            <mat-select [(ngModel)]="selectedValue9" formControlName="scSubSubPriority">-->
<!--                                <mat-option *ngFor="let i of array36" [value]="i.value">-->
<!--                                    {{i.viewValue}}-->
<!--                                </mat-option>-->
<!--                            </mat-select>-->
<!--                        </mat-form-field>-->

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '4. Устойчивое развитие агропромышленного комплекса и безопасность сельско-хозяйственной продукции'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array4" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '5. Наука о жизни и здоровье'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubPriority">
                                <mat-option *ngFor="let i of array5" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '5. Наука о жизни и здоровье' && newProjForm.get('scSubPriority').value === '5.1. Биотехнологии в сельском хозяйстве и охране окружающей среды'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array51" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '5. Наука о жизни и здоровье' && newProjForm.get('scSubPriority').value === '5.2. Биотехнологии в медицине'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array52" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '5. Наука о жизни и здоровье' && newProjForm.get('scSubPriority').value === '5.3. Развитие отечественной фармацевтической науки и промышленной биотехнологии'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array53" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '6.  Научные основы «Мәңгілік ел» (образование XXI века, фундаментальные и прикладные исследования в области гуманитарных наук)'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubPriority">
                                <mat-option *ngFor="let i of array6" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '6.  Научные основы «Мәңгілік ел» (образование XXI века, фундаментальные и прикладные исследования в области гуманитарных наук)' && newProjForm.get('scSubPriority').value === '6.1.Фундаментальные, прикладные, междисциплинарные исследования в области общественных наук'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array61" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '6.  Научные основы «Мәңгілік ел» (образование XXI века, фундаментальные и прикладные исследования в области гуманитарных наук)' && newProjForm.get('scSubPriority').value === '6.2.Фундаментальные, прикладные, междисциплинарные исследования проблем образования, науки, культуры и спорта в XXI веке'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array62" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '6.  Научные основы «Мәңгілік ел» (образование XXI века, фундаментальные и прикладные исследования в области гуманитарных наук)' && newProjForm.get('scSubPriority').value === '6.3. Фундаментальные, прикладные, междисциплинарные исследования в области гуманитарных наук'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array63" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '7. Национальная безопасность и оборона'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubPriority">
                                <mat-option *ngFor="let i of array7" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '7. Национальная безопасность и оборона' && newProjForm.get('scSubPriority').value === '7.1. Фундаментальные научные  исследования'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubSubPriority">
                                <mat-option *ngFor="let i of array71" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '7. Национальная безопасность и оборона' && newProjForm.get('scSubPriority').value === '7.2. Прикладные научные исследования'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubPriority">
                                <mat-option *ngFor="let i of array72" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="newProjForm.get('scPriority').value === '8. Научные исследования в области естественных наук'">
                            <mat-label>Подраздел</mat-label>
                            <mat-select formControlName="scSubPriority">
                                <mat-option *ngFor="let i of array8" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Заказчик</mat-label>
                            <input matInput formControlName="scCustomer" type="text" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Научный руководитель</mat-label>
                            <mat-select formControlName="scDirector">
                                <mat-option *ngFor="let i of allUsers" [value]="i.userId">
                                    {{i.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Исполнитель</mat-label>
                            <input matInput formControlName="scExecutor" type="text" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Дата договора</mat-label>
                            <input matInput formControlName="scAgrDate" type="date" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Регистрационный номер</mat-label>
                            <input matInput formControlName="scNum" type="number" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Дата начала проекта</mat-label>
                            <input matInput formControlName="scStDate" type="date" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Дата сдачи проекта</mat-label>
                            <input matInput formControlName="scEndDate" type="date" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Общая сумма гранта</mat-label>
                            <input matInput formControlName="scTotalSum" type="number" required>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Подразделение</mat-label>
                            <mat-select [(ngModel)]="selectedValue19" formControlName="scDept">
                                <mat-option *ngFor="let i of div" [value]="i.value">
                                    {{i.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-error style="margin: 2% 0" *ngIf="newProjForm.invalid">
                            *End date must be later than start date*
                        </mat-error>

                        <button (click)="openAddMemberDialog()" mat-raised-button [disabled]="newProjForm.invalid">Создать научный проект</button>

                    </form>
                </div>
            </div>
<!--        </mat-tab>-->

<!--        <mat-tab label="Создать курсы повышения квалификации">-->
            <div class="Inner" *ngIf="_data === 'course'">
                <form [formGroup]="teacherCourseForm" class="example-form">
                    <p style="color: darkred; font-weight: 500; font-size: 18px">Добавить в мои курсы: </p>

                    <mat-form-field class="example-full-width">
                        <mat-label>Форма обучения и тема</mat-label>
                        <input type="text" matInput formControlName="courseForm">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Базовый центр повышения квалификации</mat-label>
                        <input type="text" matInput formControlName="courseCenter">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Объем часов</mat-label>
                        <input type="number" matInput formControlName="courseHours">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Стоимость курсов (в тг)</mat-label>
                        <input type="number" matInput formControlName="coursePrice">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Сроки прохождения</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input formControlName="startdate" matStartDate placeholder="Start date">
                            <input formControlName="enddate" matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

<!--                    <mat-form-field class="example-full-width">-->
<!--                        <mat-label>Сроки прохождения</mat-label>-->
<!--                        <input type="date" matInput formControlName="startdate">-->
<!--                        <mat-error>This is the required field!</mat-error>-->
<!--                    </mat-form-field>-->

<!--                    <mat-form-field class="example-full-width">-->
<!--                        <mat-label>Сроки прохождения</mat-label>-->
<!--                        <input type="date" matInput formControlName="enddate">-->
<!--                        <mat-error>This is the required field!</mat-error>-->
<!--                    </mat-form-field>-->

<!--                    <mat-form-field class="example-full-width">-->
<!--                        <mat-label>Enter a date range</mat-label>-->
<!--                        <mat-date-range-input [formGroup]="teacherCourseForm">-->
<!--                            <input matStartDate formControlName="startDate" placeholder="Start date">-->
<!--                            <input matEndDate formControlName="endDate" placeholder="End date">-->
<!--                        </mat-date-range-input>-->
<!--                        <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>-->
<!--                        <mat-error *ngIf="teacherCourseForm.controls.startDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>-->
<!--                        <mat-error *ngIf="teacherCourseForm.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>-->
<!--                    </mat-form-field>-->

<!--                    <p>Selected range: {{teacherCourseForm.value | json}}</p>-->

                    <mat-form-field class="example-full-width">
                        <mat-label>№ Сертификата</mat-label>
                        <input type="text" matInput formControlName="certificateNumber">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Дата выдачи сертификата</mat-label>
                        <input type="date" matInput formControlName="certificateDate">
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Уровень</mat-label>
                        <select matNativeControl [formControl]="courseDegree" name="car">
                            <option *ngFor="let i of level" [value]="i.value">
                                {{i.viewValue}}
                            </option>
                        </select>
                        <mat-error>This is the required field!</mat-error>
                    </mat-form-field>


                    <div>
                        <input type="file"
                               (change)="onScienceProjFileChange($event)">
                    </div>


<!--                    <div>-->
<!--                        <button mat-raised-button (click)="openUploadCourseDialog()">Загрузить сертификат</button>-->
<!--                    </div>-->
                    <button mat-raised-button [disabled]="teacherCourseForm.invalid" style="margin-top: 3%" (click)="sendTeacherCourse('Successfully saved', 'OK')">Создать курс</button>
                </form>
            </div>
<!--        </mat-tab>-->

<!--    </mat-tab-group>-->
</div>
