<div fxLayout="column" fxLayoutAlign="center start" style="width: 1200px; padding-bottom: 5%;" fxLayoutGap="2%">
    <mat-table [dataSource]="TeacherScienceProjects">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ИРН </mat-header-cell>
            <mat-cell class="Razdely" *matCellDef="let project"> {{project.scId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> {{'Title' | translate}} </mat-header-cell>
            <mat-cell class="Razdely" *matCellDef="let project"> {{project.scName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> {{'The Type' | translate}} </mat-header-cell>
            <mat-cell class="Razdely" *matCellDef="let project"> {{project.scType}} </mat-cell>
        </ng-container>

        <!--              <ng-container matColumnDef="priority">-->
        <!--                <mat-header-cell *matHeaderCellDef> Раздел </mat-header-cell>-->
        <!--                <mat-cell *matCellDef="let project"> {{project.scPriority}} </mat-cell>-->
        <!--              </ng-container>-->

        <!--              <ng-container matColumnDef="subPriority">-->
        <!--                <mat-header-cell *matHeaderCellDef> Подраздел </mat-header-cell>-->
        <!--                <mat-cell *matCellDef="let project"> {{project.scSubPriority}} </mat-cell>-->
        <!--              </ng-container>-->

        <ng-container matColumnDef="priority">
            <mat-header-cell class="Razdel" *matHeaderCellDef> {{'Section' | translate}} </mat-header-cell>
            <mat-cell class="Razdel Razdely" *matCellDef="let project"><p>{{project.scPriority}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="subPriority">
            <mat-header-cell *matHeaderCellDef> {{'Subsection' | translate}} </mat-header-cell>
            <mat-cell class="Razdely" *matCellDef="let project"><p>{{project.scSubPriority}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="subSubPriority">
            <mat-header-cell *matHeaderCellDef> {{'Subsection' | translate}} </mat-header-cell>
            <mat-cell class="Razdely" *matCellDef="let project"><p>{{project.scSubSubPriority}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="executor">
            <mat-header-cell *matHeaderCellDef> {{'Executor' | translate}} </mat-header-cell>
            <mat-cell class="Razdely" *matCellDef="let project"><p>{{project.scExecutor}}</p></mat-cell>
        </ng-container>

        <ng-container matColumnDef="customer">
            <mat-header-cell *matHeaderCellDef> {{'Customer' | translate}} </mat-header-cell>
            <mat-cell class="Razdely" *matCellDef="let project"><p>{{project.scCustomer}}</p></mat-cell>
        </ng-container>

        <ng-container matColumnDef="dirFullName">
            <mat-header-cell *matHeaderCellDef> {{'Supervisor' | translate}} </mat-header-cell>
            <mat-cell class="Razdely" *matCellDef="let project"><p>{{project.scDirFullName}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dept">
            <mat-header-cell *matHeaderCellDef> {{'Subdivision' | translate}} </mat-header-cell>
            <mat-cell class="Razdely" *matCellDef="let project"><p>{{project.scDept}}</p></mat-cell>
        </ng-container>

        <ng-container matColumnDef="agrDate">
            <mat-header-cell *matHeaderCellDef> {{'Agreement date' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let project"><p>{{project.scAgrDate | date}}</p></mat-cell>
        </ng-container>

        <ng-container matColumnDef="registerNumber">
            <mat-header-cell *matHeaderCellDef> {{'Registration number' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let project"><p>{{project.scNum}}</p></mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef> {{'Project start date' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let project"><p>{{project.scStDate | date}}</p></mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef> {{'Project completion date' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let project"><p>{{project.scEndDate | date}}</p></mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalSum">
            <mat-header-cell *matHeaderCellDef> {{'Total grant amount' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let project"><p>{{project.scTotalSum}}</p></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns5"></mat-header-row>
        <mat-row *matRowDef="let project; columns: displayedColumns5;"></mat-row>
    </mat-table>
<!--    <div style="align-items: center; display: flex;">-->
    <div class="test">
        <button style="width: 100%;" (click)="create('science')" color="primary"
                mat-stroked-button>{{'Add' | translate}}
            <mat-icon color="primary">add_task</mat-icon>
        </button>
    </div>
<!--        <mat-paginator [pageSizeOptions]="[1, 2, 3, 4, 10]" [length]="paginator.length"-->
<!--                       [pageSize]="paginator.size"-->
<!--                       [pageIndex]="paginator.page"-->
<!--                       (change)="changeTableList($event)"-->
<!--                       (page)="changeTableList($event)"-->
<!--                       showFirstLastButtons></mat-paginator>-->
<!--    </div>-->
</div>
