<div class="dialog-div">
  <div class="header">
    <h1 class="full-name">{{this.data.member.firstName}} {{this.data.member.lastName}}</h1>
  </div>
  <mat-form-field>
    <mat-select [(ngModel)]="selectValue">
      <mat-option *ngFor="let disPosition of dispositions;" [value]="disPosition.value">{{disPosition.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button [disabled]="selectValue == this.data.member.disPosition" style="color: white; margin-top: 2%" mat-raised-button color="primary" (click)="changeDisPosition()" mat-dialog-close>Изменить</button>
  <button style="margin-left: 2%" mat-raised-button mat-dialog-close>Закрыть</button>
</div>
