<div class="container">
  <div class="content">
    <div class="slide-bar">
      <h2 class="title-slide-bar">Сведения по университету</h2>
      <nav>
        <ul>
          <li><a routerLink="../" class="link">Преподаватели</a></li>
          <li><a routerLink="./" routerLinkActive="active" class="link">Патенты</a></li>
          <li><a routerLink="../all-publications" routerLinkActive="active" class="link">Публикации</a></li>
          <li><a routerLink="../all-dissets" class="link">Дис. советы</a></li>
          <li><a routerLink="../all-science-projects" class="link">Научные проекты</a></li>
        </ul>
      </nav>
    </div>
    <div class="main">
      <mat-table [dataSource]="dataSource" class="">
        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
          <mat-cell *matCellDef="let patent, let i = index"> {{i + 1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="patentNumber">
          <mat-header-cell *matHeaderCellDef> Номер патента </mat-header-cell>
          <mat-cell *matCellDef="let patent"> {{patent.ptntNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef> Страна </mat-header-cell>
          <mat-cell *matCellDef="let patent"> {{patent.ptntCountry}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="inventionPatent">
          <mat-header-cell *matHeaderCellDef> Тип патента </mat-header-cell>
          <mat-cell *matCellDef="let patent"> {{patent.ptntType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef> Автор </mat-header-cell>
          <mat-cell *matCellDef="let patent"> {{patent.ptntUser.firstName}} {{patent.ptntUser.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="issueDate">
          <mat-header-cell *matHeaderCellDef> Дата выдачи </mat-header-cell>
          <mat-cell *matCellDef="let patent"> {{patent.ptntIssueDate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="insertedDay">
          <mat-header-cell *matHeaderCellDef> Дата ввода в базу </mat-header-cell>
          <mat-cell *matCellDef="let patent"> {{patent.ptntInsertedDate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="kz">
          <mat-header-cell *matHeaderCellDef> kz </mat-header-cell>
          <mat-cell *matCellDef="let patent"> <a href="https://nir.iitu.kz/{{patent.ptntFileUrlKz}}" download=""><mat-icon color="primary">get_app</mat-icon></a>  </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ru">
          <mat-header-cell *matHeaderCellDef> ru </mat-header-cell>
          <mat-cell *matCellDef="let patent"> <a href="https://nir.iitu.kz/{{patent.ptntFileUrlRu}}" download=""><mat-icon color="primary">get_app</mat-icon></a> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="en">
          <mat-header-cell *matHeaderCellDef> en </mat-header-cell>
          <mat-cell *matCellDef="let patent"> <a href="https://nir.iitu.kz/{{patent.ptntFileUrlEn}}" download=""><mat-icon color="primary">get_app</mat-icon></a> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Статус модерации </mat-header-cell>
          <mat-cell *matCellDef="let patent"> {{patent.ptntStatus}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> действие </mat-header-cell>
          <mat-cell *matCellDef="let patent">
            <button *ngIf="patent.ptntStatus == 'Under review' || patent.ptntStatus == 'Returned for revision'" (click)="setPatentStatus(patent.ptntId, 2)" mat-icon-button color="accent" aria-label="Example icon button with a heart icon">
              <mat-icon>done</mat-icon>
            </button>
            <button *ngIf="patent.ptntStatus == 'Under review' || patent.ptntStatus == 'Confirmed'" (click)="setPatentStatus(patent.ptntId, 3)" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="checkedUser">
          <mat-header-cell *matHeaderCellDef> Кем проверено </mat-header-cell>
          <mat-cell *matCellDef="let patent"> <p *ngIf="patent.ptntCheckedUser"> {{patent.ptntCheckedUser.firstName}} {{patent.ptntCheckedUser.lastName}}</p> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let employee; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
