.container {
  padding: 10% 10%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
}

.slide-bar {
  width: 15%;
}

.main {
  /*width: calc(100% - 66px - 254px);*/
  width: 100%;
}

.title-slide-bar {
  font-style: normal;
  /*font-weight: bold;*/
  /*font-size: 30px;*/
  /*line-height: 35px;*/
  color: #827878;
  margin-bottom: 25%;
}

ul {
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

li {
  font-style: normal;
  font-weight: normal;
  /*font-size: 24px;*/
  /*line-height: 28px;*/
  color: #015349;
  margin-bottom: 10%;
}

.active {
  color: #DC5441!important;
}

.link {
  color: #015349;
  text-decoration: none;
}
.mat-column-index {
  flex: 2rem;
  max-width: 2rem;
}
/*.mat-column-patentNumber {*/
/*  flex: 2rem;*/
/*  max-width: 4rem;*/
/*}*/
/*.mat-column-country {*/
/*  flex: 2rem;*/
/*  max-width: 7rem;*/
/*}*/
.mat-column-actions {
  text-align: center;
  flex: 2rem;
  max-width: 12rem;
}
/*.mat-column-inventionPatent {*/
/*  flex: 2rem;*/
/*  max-width: 5rem;*/
/*}*/
/*!*.mat-column-author {*!*/
/*!*  flex: 2rem;*!*/
/*!*  max-width: 11rem;*!*/
/*!*}*!*/
/*.mat-column-insertedDay {*/
/*  flex: 2rem;*/
/*  max-width: 5rem;*/
/*}*/
/*.mat-column-issueDate {*/
/*  flex: 2rem;*/
/*  max-width: 5rem;*/
/*}*/
/*.mat-column-status {*/
/*  flex: 2rem;*/
/*  max-width: 7rem;*/
/*}*/
/*!*.mat-column-checkedUser {*!*/
/*!*  flex: 2rem;*!*/
/*!*  max-width: 11rem;*!*/
/*!*}*!*/
.mat-column-kz, .mat-column-ru, .mat-column-en {
  flex: 2rem;
  max-width: 4rem;
}
