.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.overlayDiv {
    position: absolute;
    top: 20vh;
    left: 10%;
    z-index: 10;
    width: 100%;
}
.filter {
    background: #F3F5F7;
    border: 1px solid #858585;
    box-sizing: border-box;
    border-radius: 7px;
    /*padding: 10%;*/
}
.isActive {
    color: red;
}
