<div *ngIf="!isMobile" fxLayout="row">
    <div fxFlex="15"></div>
    <div fxFlex="70" fxLayout="column">
        <h1 style="color: #616161">{{"Software System for Accreditation of University Scientific Activities" | translate}}</h1>
        <p style="color: #221E1E; font-size: 20px">{{"Purpose of the system" | translate}}</p>
        <mat-divider></mat-divider>
        <p style="margin: 2% 0;">{{"The system is designed to collect, systematize and store information about the scientific activities of the university and scientific organizations in order to prepare and pass accreditation of scientific activities." | translate}}</p>
        <p style="color: #221E1E; font-size: 20px">{{"Project objectives" | translate}}</p>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>
                1.    {{"Creation of models and improvement of business processes that stimulate scientific and innovative activities in universities and research centers based on data collection and analysis, as well as the activities of individual scientists and teachers, scientific groups, structural units and organizations in general." | translate}}</mat-list-item>
            <mat-list-item>
                2.    {{"Development of a methodology for transforming the business processes of a university as a government body based on bpaas cloud technologies." | translate}} </mat-list-item>
            <mat-list-item>
                3.    {{"Expansion of the information space of Kazakhstani organizations of science and higher education on the Internet, as a base for increasing their authority and rating indicators in Kazakhstan and in the world." | translate}} </mat-list-item>
            <mat-list-item>
                4.    {{"Formation of modern information-analytical, integrated environments of automatons proceduraly basgaru proceduralaryn basgaru, innovative and educational activities." | translate}} </mat-list-item>
        </mat-list>
    </div>
    <div fxFlex="15"></div>
</div>

<div style="margin: 5% 5% 15% 5%" *ngIf="isMobile" fxLayout="column" fxLayoutGap="5%">
    <h1 style="color: #616161">{{"Software System for Accreditation of University Scientific Activities" | translate}}</h1>

    <div>
        <p style="color: #221E1E; font-size: 20px">{{"Purpose of the system" | translate}}</p>
        <mat-divider></mat-divider>
        <p style="margin: 2% 0;">{{"The system is designed to collect, systematize and store information about the scientific activities of the university and scientific organizations in order to prepare and pass accreditation of scientific activities." | translate}}</p>
    </div>

    <div>
        <p style="color: #221E1E; font-size: 20px">{{"Project objectives" | translate}}</p>
        <mat-divider></mat-divider>
        <mat-list style="margin-top: 70px" fxLayout="column" fxLayoutGap="32%">
            <mat-list-item>
                1.    {{"Creation of models and improvement of business processes that stimulate scientific and innovative activities in universities and research centers based on data collection and analysis, as well as the activities of individual scientists and teachers, scientific groups, structural units and organizations in general." | translate}}</mat-list-item>
            <mat-list-item>
                2.    {{"Development of a methodology for transforming the business processes of a university as a government body based on bpaas cloud technologies." | translate}} </mat-list-item>
            <mat-list-item>
                3.    {{"Expansion of the information space of Kazakhstani organizations of science and higher education on the Internet, as a base for increasing their authority and rating indicators in Kazakhstan and in the world." | translate}} </mat-list-item>
            <mat-list-item>
                4.    {{"Formation of modern information-analytical, integrated environments of automatons proceduraly basgaru proceduralaryn basgaru, innovative and educational activities." | translate}} </mat-list-item>
        </mat-list>
    </div>
</div>
