<div fxLayout="row">
    <div fxFlex="15"></div>
    <div fxFlex="70" fxLayout="column">
        <h1 style="color: #616161">Программная Система для аккредитации научной деятельности университета</h1>
        <p style="color: #221E1E; font-size: 20px">Цель системы</p>
        <mat-divider></mat-divider>
        <p style="margin: 2% 0;">Система предназначена для сбора, систематизации и хранения информации о научной деятельности вуза и научных организации с целью подготовки и прохождения аккредитации научной деятельности.</p>
        <p style="color: #221E1E; font-size: 20px">Задачи проекта</p>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item> 1.	Создание моделей и совершенствование бизнес процессов, стимулирующих научно-инновационную деятельность в вузах и научных центрах на основе сбора данных и их анализа, а также  деятельности отдельных ученых и преподавателей, научных групп, структурных подразделений и организаций в целом.</mat-list-item>
            <mat-list-item> 2.	Разработка методологии для трансформации бизнес-процессов вуза как органа государственного управления на основе облачных технологий bpaas. </mat-list-item>
            <mat-list-item> 3.	Расширение информационного пространства казахстанских организаций науки и высшей школы в Интернет, как базы для повышения их авторитета и рейтинговых показателей в Казахстане и в мире. </mat-list-item>
            <mat-list-item> 4.	Формирование современной информационно-аналитической, интегрированной среды для автоматизации процессов управления научными исследованиями, инновационной и образовательной деятельностью. </mat-list-item>
        </mat-list>
    </div>
    <div fxFlex="15"></div>
</div>
