<div class="content">
<!--  <mat-tab-group mat-align-tabs="center">-->
<!--    <mat-tab label="Профиль">-->
<!--      -->
<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
  <div class="Inner">
    <div style="width: 33%;">
      <div class="Img"></div>
    </div>
    <div style="align-items: center; display: flex;">
      <div>
        <div style="width: 100%; display: flex; justify-content: space-between" *ngIf="this.currentUser">
          <h2 style="">{{this.currentUser.firstName}} {{this.currentUser.lastName}}</h2>
          <mat-icon routerLink="../settings" style="cursor: pointer;">create</mat-icon>
        </div>
        <div style="width: 100%;" *ngIf="this.currentUser">
          <h3>E-mail: {{this.currentUser.email}}</h3>
          <h3 *ngIf="this.currentUser.gender == 'male'">Пол: Мужской</h3>
          <h3 *ngIf="this.currentUser.gender == 'female'">Пол: Женский</h3>
          <h3>Контактный номер: {{this.currentUser.phoneNumber}}</h3>
        </div>

      </div>
    </div>
  </div>
  <hr>
  <div class="AddInf">
    <div class="left-side">
      <div>
        <h3 style=" margin-bottom: 0;">Личная информация</h3>
        <h3 style="font-weight: bold" *ngIf="this.roles.indexOf('Head_Of_Dept') != -1">Вы заведующий этой кафедры</h3>
      </div>
      <div *ngIf="currentUser">
        <h3 style="font-weight: bold;  margin-bottom: 0;">Образование</h3>
        <div *ngFor="let degree of this.currentUser.degree">
          <h3>{{degree.degreeName}}</h3>
        </div>
      </div>
      <div>
        <h3 routerLink="../password" class="passwd-btn button">Пароль <mat-icon>keyboard_arrow_right</mat-icon></h3>
      </div>
    </div>
    <div class="right-side">
      <div class="" *ngIf="userDepts[0]">
        <h3 style="font-weight: bold; margin-bottom: 0;">Кафедра</h3>
        <h3 >{{this.userDepts[0].deptName}} - {{this.userDepts[0].userType}}</h3>
      </div>
    </div>
  </div>
</div>
<div id="projectName">2: oianset osietnoasiedj oino aosietnoin oasiento oaseitnoind oisentoasintoon oisentoiansetoino oiasentoin oi asetin doinae oidnoajosi doinalketn oiwdnota onioiante oaidno</div>
