<div fxLayout="row">
    <div fxFlex="5"></div>
    <div fxFlex="90" fxLayout="column">
        <div class="nav-text">
            <button routerLink="../../" class="btn-nav-header">Доп. возможности</button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
            {{"Dissertation council" | translate}} №{{idDisset}}
        </div>
        <div class="title-div">
            <h1 class="title-text">{{"Dissertation council" | translate}} №{{idDisset}}</h1>
            <h2 class="title-text">ВУЗ - {{disInfo}}</h2>
            <small class="small-title-text">{{"Participants" | translate}}</small>
            <div class="box">
                <mat-table [dataSource]="dataSource" class="">

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef> {{"Employee type" | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let member">
                            <p>{{member.memberType}}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                        <mat-header-cell *matHeaderCellDef> {{"Full name" | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let member"> {{member.lastName + ' ' + member.firstName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="role">
                        <mat-header-cell *matHeaderCellDef> {{"Role" | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let member"> {{member.disPosition}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> {{"Change position in the dissertation council" | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let member">
                            <button (click)="editRole(member)" mat-icon-button
                                    aria-label="Example icon button with a home icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let disset; columns: displayedColumns;"></mat-row>
                </mat-table>

                <div class="btn-div">
                    <button routerLink="add-account" mat-flat-button color="primary" class="btn-style">add
                        <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="5"></div>
</div>
