<div fxLayout="column">
    <div fxLayout="row" style="padding: 1%">
        <div fxFlex="10"></div>
        <div fxFlex="20" fxLayoutAlign="end center" fxLayout="row">
            <div fxFlex="40" fxLayoutAlign="start center">
                <img src="./assets/images/header/logoIITU.png" width="100%" alt="IITU logo">
            </div>
            <div fxFlex="60" fxLayoutAlign="start none" fxLayout="column">
                <p>INTERNATIONAL</p>
                <p>UNIVERSITY</p>
            </div>
        </div>
        <div fxFlex="60" fxLayout="column">
            <div fxLayoutAlign="space-around center" fxFlex="50" fxLayout="row">
                <div fxLayoutGap="2%" fxFlex="50" fxLayout="row">
                    <div fxFlex="5"></div>
                    <div fxFlex="70" fxLayout="row">
                        <input style="border: 1px solid #C5BFBF; border-radius: 5px; margin-right: -1%; width: 100%"
                               type="text" matInput>
                        <button mat-button style="background: #0CB5A0; height: 100%;">
                            <mat-icon style="color: white">search</mat-icon>
                        </button>
                    </div>
                </div>
                <div fxFlex="50">
                    <div fxFlex="row" fxLayoutAlign="center center">
                        <mat-icon color="primary" style="cursor: pointer;" [matMenuTriggerFor]="menu3">notifications
                        </mat-icon>
                        <mat-menu #menu3="matMenu">
                            <div fxLayoutGap="5%" fxFlexAlign="row" mat-menu-item>
                                <img fxFlex="20" src="assets/images/unnamed.jpg" style="border-radius: 50%;" alt="">
                                <p fxFlex="80">Lorem ipsum dolor sit amet</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div fxLayoutGap="5%" fxFlexAlign="row" mat-menu-item>
                                <img fxFlex="20" src="assets/images/camera_200.png" style="border-radius: 50%;" alt="">
                                <p fxFlex="80">Lorem ipsum dolor sit amet</p>
                            </div>
                        </mat-menu>
                        <button mat-button [matMenuTriggerFor]="menu2">{{language}}
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item (click)="changeLang('ҚАЗ')">ҚАЗ</button>
                            <button mat-menu-item (click)="changeLang('РУС')">РУС</button>
                            <button mat-menu-item (click)="changeLang('ENG')">ENG</button>
                        </mat-menu>
                        <button mat-button [matMenuTriggerFor]="menu">
                            <p style="margin-top: 7%" class="text">{{name}}</p>
                        </button>
                        <img src="assets/images/camera_200.png" width="7%" style="border-radius: 50%">
                    </div>
                    <mat-menu #menu="matMenu">
                        <button style="padding: 0; margin: 0" mat-menu-item><a style="height: 100%"
                                                                               routerLink="./profile"
                                                                               mat-button>Моя страница</a></button>
                        <button style="padding: 0; margin: 0" mat-menu-item><a style="height: 100%"
                                                                               routerLink="./password"
                                                                               mat-button>Сменить пароль</a></button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="logOut()">Log out</button>
                    </mat-menu>
                </div>
            </div>
            <div fxFlex="50" fxLayoutAlign="start center" fxLayout="row">
                <mat-toolbar>
                    <mat-toolbar-row>
                        <a [routerLinkActive]="['active']" mat-button routerLink="./"
                           [routerLinkActiveOptions]="{ exact: true }"><p class="navigation">Главная</p></a>
                        <a [routerLinkActive]="['active']" mat-button routerLink="./activities"><p class="navigation"
                                                                                                   *ngIf="this.userRoles.indexOf('Teacher') != -1">
                            Публикации</p></a>
                        <a mat-button><p class="navigation">Статистика</p></a>
                        <a mat-button><p class="navigation">О проекте</p></a>
                        <a mat-button><p class="navigation">О сервисе</p></a>
                        <a mat-button><p class="navigation">Помощь</p></a>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
        </div>
        <div fxFlex="10"></div>
    </div>
    <div>
        <mat-toolbar>
            <mat-toolbar-row fxFlexAlign="row" fxLayoutAlign="center center" style="height: 100%; background: #212121;">
                <a fxLayoutAlign="center center" mat-button routerLink="./yearPlan"><p style="color: white; margin: 0;" class="navigation2">Преподаватели</p></a>
                <a fxLayoutAlign="center center" mat-button routerLink="./secretary-of-the-diss-council"><p style="margin: 0; color: white;" class="navigation2">Секретарь диссертационного совета</p></a>
                <a fxLayoutAlign="center center" mat-button routerLink="./opportunities"><p style="color: white; margin: 0;" class="navigation2">Сотрудник отдела по науке</p></a>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
    <div class="footer" fxLayoutAlign="center center">
        <p style="color: white; font-size: 15px; padding: 0; margin: 0">&copy; Copyright 2000-2020.</p>
    </div>
</div>
