/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navigation {
    color: #8F1812;
    font-size: 18px;
}
.navigation2 {
    color: #FFFFFF;
    font-size: 18px;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.textM {
    font-weight: 600;
    color: #827878;
}
.linkTable {
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.active {
    color: #8F1812;
}
.title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #716F6F;
}
.description {
    font-weight: normal;
    font-size: 14px;
    color: #8C8C8C;
}
.heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #716F6F;
}
