<div fxFlexAlign="row">
    <div fxFlex="5"></div>
    <div fxFlex="90" fxFlexAlign="row">
        <div fxFlex="18" fxFlexAlign="column">
            <h2 class="textM">{{"My tables" | translate}}</h2>
            <div class="linkTable"><a [ngClass]="{'is-active': whichTable === 0}"
                                      (click)="setWhichTable(0)">{{"My publications" | translate}}</a></div>
            <div class="linkTable"><a [ngClass]="{'is-active': whichTable === 1}"
                                      (click)="setWhichTable(1)">{{"My events" | translate}}</a></div>
            <div class="linkTable"><a [ngClass]="{'is-active': whichTable === 2}"
                                      (click)="setWhichTable(2)">{{"My discourses" | translate}}</a></div>
            <div class="linkTable"><a [ngClass]="{'is-active': whichTable === 3}"
                                      (click)="setWhichTable(3)">{{"My patents" | translate}}</a>
            </div>
            <div class="linkTable"><a *ngIf="this.roles.indexOf('Head_Of_Dept') != - 1"
                                      [ngClass]="{'is-active': whichTable === 4}"
                                      (click)="setWhichTable(4)">{{"My staff" | translate}}</a></div>
            <div class="linkTable"><a [ngClass]="{'is-active': whichTable === 5}"
                                      (click)="setWhichTable(5)">{{"My scientific projects" | translate}}</a></div>
            <div class="linkTable"><a [ngClass]="{'is-active': whichTable === 6}"
                                      (click)="setWhichTable(6)">{{"Training" | translate}}</a>
            </div>
            <div class="linkTable"><a [ngClass]="{'is-active': whichTable === 7}"
                                      (click)="setWhichTable(7)">{{"Exhibitions" | translate}}</a>
            </div>
            <div class="linkTable"><a [ngClass]="{'is-active': whichTable === 8}"
                                      (click)="setWhichTable(8)">{{"Awards and prizes" | translate}}</a></div>
            <div class="linkTable"><a [ngClass]="{'is-active': whichTable === 9}"
                                      (click)="setWhichTable(9)">{{"Expert and analytical" | translate}}
                <br>{{"activity" | translate}}</a></div>
            <div *ngIf="isHeadOfDept" class="linkTable"><a [ngClass]="{'is-active': whichTable === 10}"
                                                           (click)="setWhichTable(10)">{{"Teachers activity" | translate}}</a>
            </div>
            <button (click)="download2()" style="border-color: white; margin-left: -3%; margin-top: 5%;"
                    mat-stroked-button
                    color="primary">{{"Download the list of scientific papers" | translate}}
            </button>
            <button (click)="download()" style="border-color: white; margin-top: 5%; margin-left: -3%;"
                    mat-stroked-button
                    color="primary">{{"Download rating sheet" | translate}}
            </button>
        </div>
        <div fxFlex="82" fxLayout="column" fxLayoutGap="5%">
            <div></div>
            <div fxLayout="column" fxLayoutGap="2%">
                <div fxLayout="row" *ngIf="whichTable === 0">
                    <div fxFlex="50">
                        <label>{{"From" | translate}} </label>
                        <input [(ngModel)]="from" type="number">
                    </div>
                    <div fxFlex="50">
                        <label>{{"To" | translate}} </label>
                        <input [(ngModel)]="to" type="number">
                    </div>
                </div>
                <div style="overflow-x: auto">
                    <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start center" *ngIf="whichTable === 0">


                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <th style="width: 2rem;">№</th>
                                <th style="width: 15rem">{{"Title" | translate}}</th>
                                <th style="width: 11rem">{{"Post type" | translate}}</th>
                                <th style="width: 12rem">{{"Co-authors" | translate}}</th>
                                <th style="width: 4rem">{{"Year" | translate}}</th>
                                <th style="width: 7rem">{{"City" | translate}}</th>
                                <th style="width: 8rem">{{"Publisher" | translate}}</th>
                                <th style="width: 5rem">{{"Pages" | translate}}</th>
                                <th style="width: 2rem">URL</th>
                                <th style="width: 5rem">DOI</th>
                                <th style="width: 9rem">{{"Status" | translate}}</th>
                                <th style="width: 5rem">{{"File" | translate}}</th>
                                <th style="width: 8rem">{{"Action" | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="text-align: center;"
                                *ngFor="let publication of TeacherPublications | paginate: { id: 'publications', itemsPerPage: 10, currentPage: p }, let index = index">
                                <th *ngIf="from <= publication.pubYear && to >= publication.pubYear"
                                    style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{index+1}}</th> <!--{{publication.pubId}}-->
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">{{publication.pubName}}</td>
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">{{publication.pubType}}</td>
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">
                                    <div *ngFor="let coAuthors of publication.pubCoAuthor; let i = index">
                                        {{i + 1}}
                                        ) {{coAuthors.coAuthorUser.firstName}} {{coAuthors.coAuthorUser.lastName}}
                                    </div>
                                </td>
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">{{publication.pubYear}}</td>
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">{{publication.pubCity}}</td>
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">{{publication.pubPubName}}</td>
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">{{publication.pubPage}}
                                    - {{publication.pubEndPage}}</td>
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">
                                    <a href="{{publication.pubUrl}}">
                                        <mat-icon color="primary">public</mat-icon>
                                    </a>
                                </td>
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">{{publication.pubDoi}}</td>
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">
                                    <div style="word-wrap: break-word;">
                                        <mat-icon style="color: green;"
                                                  *ngIf="publication.pubStatus == 'Confirmed'">
                                            done
                                        </mat-icon>
                                        <mat-icon style="color: red"
                                                  *ngIf="publication.pubStatus == 'Returned for revision'">clear
                                        </mat-icon>
                                        <p *ngIf="publication.pubStatus == 'Under review'">На рассмотреннии</p>
                                    </div>
                                </td>
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">
                                    <a href="https://nir.iitu.kz/{{publication.pubFile}}" download="">
                                        <mat-icon color="primary">get_app</mat-icon>
                                    </a>
                                </td>
                                <td *ngIf="from <= publication.pubYear && to >= publication.pubYear">
                                    <button (click)="deletePub(publication.pubId)" mat-stroked-button
                                            color="warn">{{"Delete" | translate}}</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <pagination-controls (pageChange)="p = $event"
                                             id="publications"
                                             autoHide="true"
                                             responsive="true"
                                             previousLabel="Previous"
                                             nextLabel="Next"
                        ></pagination-controls>


                        <div fxLayoutAlign="center center">
                            <button (click)="create('pub')" color="primary"
                                    mat-stroked-button>
                                {{"Add" | translate}}
                                <mat-icon color="primary">add_task</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start center" *ngIf="whichTable === 1">


                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">№</th>
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{"Title" | translate}}</th>
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{"Event type" | translate}}</th>
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{"Role" | translate}}</th>
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{"Date" | translate}}</th>
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{"City" | translate}}</th>
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">URL</th>
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{"File" | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="text-align: center;" *ngFor="let item of TeacherEvents | paginate: config, let index = index">
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{index+1}}</th>
                                <td>{{item.eventName}}</td>
                                <td>{{item.eventType}}</td>
                                <td>{{item.eventRole}}</td>
                                <td>{{item.eventDate}}</td>
                                <td>{{item.eventCity}}</td>
                                <td>
                                    <a href="{{item.eventUrl}}">
                                        <mat-icon color="primary">public</mat-icon>
                                    </a>
                                </td>
                                <td>
                                    <a href="https://nir.iitu.kz/{{item.eventFile}}"
                                       download="">
                                        <mat-icon color="primary">get_app</mat-icon>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <pagination-controls (pageChange)="pageChanged($event)"
                                             autoHide="true"
                                             responsive="true"
                                             previousLabel="Previous"
                                             nextLabel="Next"
                        ></pagination-controls>

                        <div fxLayoutAlign="center center">
                            <button (click)="create('event')" color="primary"
                                    mat-stroked-button>{{"Add" | translate}}
                                <mat-icon color="primary">add_task</mat-icon>
                            </button>
                        </div>

                    </div>

                    <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start center" *ngIf="whichTable === 2">

                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <th style="width: 2rem;">№</th>
                                <th style="width: 11rem">{{"Higher educational institution" | translate}}</th>
                                <th style="width: 12rem">{{"Role in the dissertation council" | translate}}</th>
                                <th style="width: 4rem">{{"Doctoral specialty / direction of training" | translate}}</th>
                                <th style="width: 7rem">{{"Period of activity" | translate}}</th>
                                <th style="width: 8rem">{{"Order number and date" | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="text-align: center;"
                                *ngFor="let disset of TeacherDisSovet | paginate: { id: 'disset', itemsPerPage: 10, currentPage: p }, let index = index">
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{index+1}}</th>
                                <td>{{disset.disInfo}}</td>
                                <td>{{disset.disPosition}}</td>
                                <td>{{disset.memberType}}</td>
                                <td>{{disset.disStartDate | date}} - {{disset.disStopDate | date}}</td>
                                <td>{{disset.ministryOrder}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <pagination-controls (pageChange)="p = $event"
                                             id="disset"
                                             autoHide="true"
                                             responsive="true"
                                             previousLabel="Previous"
                                             nextLabel="Next"
                        ></pagination-controls>

                        <!--                        <mat-table [dataSource]="TeacherDisSovet" class="">-->
                        <!--                            <ng-container matColumnDef="disId">-->
                        <!--                                <mat-header-cell *matHeaderCellDef> №</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let disset"> {{disset.disId}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="university">-->
                        <!--                                <mat-header-cell-->
                        <!--                                        *matHeaderCellDef> {{"Higher educational institution" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let disset"> {{disset.disInfo}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="disRole">-->
                        <!--                                <mat-header-cell-->
                        <!--                                        *matHeaderCellDef> {{"Role in the dissertation council" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let disset"> {{disset.disRole}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="specialty">-->
                        <!--                                <mat-header-cell-->
                        <!--                                        *matHeaderCellDef> {{"Doctoral specialty / direction of training" | translate}}-->
                        <!--                                </mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let disset"> {{disset.specialty}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="stopDate">-->
                        <!--                                <mat-header-cell-->
                        <!--                                        *matHeaderCellDef> {{"Period of activity" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let disset"> {{disset.disStopDate | date}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="numberAndDate">-->
                        <!--                                <mat-header-cell-->
                        <!--                                        *matHeaderCellDef> {{"Order number and date" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let disset"> {{disset.ministryOrder}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <mat-header-row *matHeaderRowDef="displayedColumnsDisSovet"></mat-header-row>-->
                        <!--                            <mat-row *matRowDef="let disset; columns: displayedColumnsDisSovet;"></mat-row>-->
                        <!--                        </mat-table>-->
                    </div>

                    <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start center" *ngIf="whichTable === 3">


                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <th style="width: 5rem;">{{"Patent number" | translate}}</th>
                                <th style="width: 6rem">{{"Type of patent" | translate}}</th>
                                <th style="width: 10rem">{{"Country" | translate}}</th>
                                <th style="width: 6rem">{{"Date of issue" | translate}}</th>
                                <th style="width: 6rem">{{"Published in TR" | translate}}</th>
                                <th style="width: 12rem">{{"Author" | translate}}</th>
                                <th style="width: 8rem">{{"Status" | translate}}</th>
                                <th style="width: 8rem">{{"Date of entry into the database" | translate}}</th>
                                <th style="width: 8rem">{{"Verified by" | translate}}</th>
                                <th style="width: 2rem">{{"File" | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="text-align: center;"
                                *ngFor="let patent of TeacherPatents | paginate: { id: 'patent', itemsPerPage: 10, currentPage: p }">
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{patent.ptntNumber}}</th>
                                <td>{{patent.ptntType}}</td>
                                <td>{{patent.ptntCountry}}</td>
                                <td>{{patent.ptntIssueDate}}</td>
                                <td>{{patent.ptntPublishedTR}}</td>
                                <td>{{patent.ptntUser.firstName}} {{patent.ptntUser.lastName}}</td>
                                <td>
                                    <mat-icon style="color: green;" *ngIf="patent.ptntStatus == 'Confirmed'">done
                                    </mat-icon>
                                    <mat-icon style="color: red" *ngIf="patent.ptntStatus == 'Returned for revision'">
                                        clear
                                    </mat-icon>
                                    <p *ngIf="patent.ptntStatus == 'Under review'">На рассмотреннии</p>
                                </td>
                                <td>{{patent.ptntInsertedDate}}</td>
                                <td>
                                    <p *ngIf="patent.ptntCheckedUser"> {{patent.ptntCheckedUser.firstName}} {{patent.ptntCheckedUser.lastName}}</p>
                                </td>
                                <td>
                                    <a href="https://nir.iitu.kz/{{patent.ptntFileUrl}}"
                                       download="">
                                        <mat-icon color="primary">get_app</mat-icon>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <pagination-controls (pageChange)="p = $event"
                                             id="patent"
                                             autoHide="true"
                                             responsive="true"
                                             previousLabel="Previous"
                                             nextLabel="Next"></pagination-controls>

                        <!--                        <mat-table [dataSource]="TeacherPatents" class="">-->
                        <!--                            <ng-container matColumnDef="ptntNumber">-->
                        <!--                                <mat-header-cell *matHeaderCellDef> {{"Patent number" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let patent"> {{patent.ptntNumber}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="ptntId">-->
                        <!--                                <mat-header-cell *matHeaderCellDef> {{"Type of patent" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let patent"> {{patent.ptntType}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="ptntCountry">-->
                        <!--                                <mat-header-cell *matHeaderCellDef> {{"Country" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let patent"> {{patent.ptntCountry}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="ptntIssueDate">-->
                        <!--                                <mat-header-cell *matHeaderCellDef> {{"Date of issue" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let patent"> {{patent.ptntIssueDate}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="ptntPublishedTR">-->
                        <!--                                <mat-header-cell *matHeaderCellDef> {{"Published in TR" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let patent"> {{patent.ptntPublishedTR}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="ptntOwnerName">-->
                        <!--                                <mat-header-cell *matHeaderCellDef> {{"Author" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell-->
                        <!--                                        *matCellDef="let patent"> {{patent.ptntUser.firstName}} {{patent.ptntUser.lastName}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="status">-->
                        <!--                                <mat-header-cell *matHeaderCellDef> {{"Status" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let patent">-->
                        <!--                                    <mat-icon style="color: green;" *ngIf="patent.ptntStatus == 'Confirmed'">done-->
                        <!--                                    </mat-icon>-->
                        <!--                                    <mat-icon style="color: red" *ngIf="patent.ptntStatus == 'Returned for revision'">-->
                        <!--                                        clear-->
                        <!--                                    </mat-icon>-->
                        <!--                                    <p *ngIf="patent.ptntStatus == 'Under review'">На рассмотреннии</p>-->
                        <!--                                </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="insertDate">-->
                        <!--                                <mat-header-cell-->
                        <!--                                        *matHeaderCellDef> {{"Date of entry into the database" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let patent"> {{patent.ptntInsertedDate}} </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="whoCheck">-->
                        <!--                                <mat-header-cell *matHeaderCellDef> {{"Verified by" | translate}}</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let patent">-->
                        <!--                                    <p *ngIf="patent.ptntCheckedUser"> {{patent.ptntCheckedUser.firstName}} {{patent.ptntCheckedUser.lastName}}</p>-->
                        <!--                                </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <ng-container matColumnDef="File">-->
                        <!--                                <mat-header-cell *matHeaderCellDef> Файл</mat-header-cell>-->
                        <!--                                <mat-cell *matCellDef="let patent">-->
                        <!--                                    <a href="https://nir.iitu.kz/{{patent.ptntFileUrl}}"-->
                        <!--                                                                      download="">-->
                        <!--                                    <mat-icon color="primary">get_app</mat-icon>-->
                        <!--                                </a>-->
                        <!--                                </mat-cell>-->
                        <!--                            </ng-container>-->

                        <!--                            <mat-header-row *matHeaderRowDef="displayedColumnsPatent"></mat-header-row>-->
                        <!--                            <mat-row *matRowDef="let patent; columns: displayedColumnsPatent;"></mat-row>-->
                        <!--                        </mat-table>-->

                        <div fxLayoutAlign="center center">
                            <button (click)="create('patent')" color="primary"
                                    mat-stroked-button>{{"Add" | translate}}
                                <mat-icon color="primary">add_task</mat-icon>
                            </button>
                            <!--                        <mat-paginator [pageSizeOptions]="[1, 2, 3, 4, 10]" [length]="paginator.length"-->
                            <!--                                       [pageSize]="paginator.size"-->
                            <!--                                       [pageIndex]="paginator.page"-->
                            <!--                                       (change)="changeTableList($event)"-->
                            <!--                                       (page)="changeTableList($event)"-->
                            <!--                                       showFirstLastButtons></mat-paginator>-->
                        </div>
                    </div>

                    <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start center" *ngIf="whichTable === 4">
                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <th style="width: 5rem;">ID</th>
                                <th style="width: 6rem">{{"Surname" | translate}}</th>
                                <th style="width: 10rem">{{"Name" | translate}}</th>
                                <th style="width: 6rem">E-mail</th>
                                <th style="width: 6rem">{{"Description" | translate}}</th>
                                <th style="width: 12rem">{{"Employee type" | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="text-align: center;"
                                *ngFor="let employee of DepUsers | paginate: { id: 'employee', itemsPerPage: 10, currentPage: p }">
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{employee.userId}}</th>
                                <td>{{employee.lastName}}</td>
                                <td>{{employee.firstName}}</td>
                                <td>{{employee.email}}</td>
                                <td>{{employee.description}}</td>
                                <td>{{employee.userType}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"
                                             id="employee"
                                             autoHide="true"
                                             responsive="true"
                                             previousLabel="Previous"
                                             nextLabel="Next"></pagination-controls>
                    </div>

                    <div fxLayout="column" fxLayoutGap="2%" style="width: 100rem" fxLayoutAlign="start center"
                         *ngIf="whichTable === 5">
                        <table>
                                <thead>
                                <tr>
                                    <th style="width: 2rem">ИРН</th>
                                    <th style="width: 10rem">{{"Title" | translate}}</th>
                                    <th style="width: 10rem">{{"The Type" | translate}}</th>
                                    <th style="width: 10rem">{{"Section" | translate}}</th>
                                    <th style="width: 10rem">{{"Subsection" | translate}}</th>
                                    <th style="width: 10rem">{{"Subsection" | translate}}</th>
                                    <th style="width: 7rem">{{"Executor" | translate}}</th>
                                    <th style="width: 7rem">{{"Customer" | translate}}</th>
                                    <th style="width: 7rem">{{"Supervisor" | translate}}</th>
                                    <th style="width: 5rem">{{"Subdivision" | translate}}</th>
                                    <th style="width: 5rem">{{"Agreement date" | translate}}</th>
                                    <th style="width: 3rem">{{"Registration number" | translate}}</th>
                                    <th style="width: 5rem">{{"Project start date" | translate}}</th>
                                    <th style="width: 5rem">{{"Project completion date" | translate}}</th>
                                    <th style="width: 3rem">{{"Total grant amount" | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="text-align: center;"
                                    *ngFor="let project of TeacherScienceProjects | paginate: { id: 'project', itemsPerPage: 3, currentPage: p }">
                                    <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{project.scId}}</th>
                                    <td>{{project.scName}}</td>
                                    <td>{{project.scType}}</td>
                                    <td>{{project.scPriority}}</td>
                                    <td>{{project.scSubPriority}}</td>
                                    <td>{{project.scSubSubPriority}}</td>
                                    <td>{{project.scExecutor}}</td>
                                    <td>{{project.scCustomer}}</td>
                                    <td>{{project.scDirFullName}}</td>
                                    <td>{{project.scDept}}</td>
                                    <td>{{project.scAgrDate | date}}</td>
                                    <td>{{project.scNum | date}}</td>
                                    <td>{{project.scStDate | translate}}</td>
                                    <td>{{project.scTotalSum}}</td>
                                </tr>
                                </tbody>
                            </table>

                        <pagination-controls (pageChange)="p = $event"
                                             id="project"
                                             autoHide="true"
                                             responsive="true"
                                             previousLabel="Previous"
                                             nextLabel="Next"></pagination-controls>
                        <div fxLayoutAlign="center center">
                            <button (click)="create('science')" color="primary"
                                    mat-stroked-button>{{"Add" | translate}}
                                <mat-icon color="primary">add_task</mat-icon>
                            </button>
                            <!--                        <mat-paginator [pageSizeOptions]="[1, 2, 3, 4, 10]" [length]="paginator.length"-->
                            <!--                                       [pageSize]="paginator.size"-->
                            <!--                                       [pageIndex]="paginator.page"-->
                            <!--                                       (change)="changeTableList($event)"-->
                            <!--                                       (page)="changeTableList($event)"-->
                            <!--                                       showFirstLastButtons></mat-paginator>-->
                        </div>
                    </div>

                    <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start center" *ngIf="whichTable === 6">

                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <th style="width: 5rem;">№</th>
                                <th style="width: 10rem">{{"Full name" | translate}}</th>
                                <th style="width: 10rem">{{"Form of study and topic" | translate}}</th>
                                <th style="width: 10rem">{{"Basic training center" | translate}}</th>
                                <th style="width: 6rem">{{"Amount of time" | translate}}</th>
                                <th style="width: 12rem">{{"Course cost" | translate}}</th>
                                <th style="width: 12rem">{{"Terms of passage" | translate}}</th>
                                <th style="width: 12rem">№{{"Certificate" | translate}} & {{"Date" | translate}}</th>
                                <th style="width: 12rem">{{"Level" | translate}}</th>
                                <th style="width: 5rem">{{"File" | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="text-align: center;"
                                *ngFor="let course of TeacherCourses | paginate: { id: 'course', itemsPerPage: 10, currentPage: p }">
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{course.courseId}}</th>
                                <td>{{course.courseUser.firstName}} {{course.courseUser.lastName}}</td>
                                <td>{{course.courseForm}}</td>
                                <td>{{course.courseCenter}}</td>
                                <td>{{course.courseHours}}</td>
                                <td>{{course.coursePrice}}</td>
                                <td>{{course.startdate}}</td>
                                <td>{{course.courseCertificateNumber}}</td>
                                <td>{{course.courseDegree}}</td>
                                <td>
                                    <a href="https://nir.iitu.kz/{{course.courseFile}}"
                                       download="">
                                        <mat-icon color="primary">get_app</mat-icon>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <pagination-controls (pageChange)="p = $event"
                                             id="course"
                                             autoHide="true"
                                             responsive="true"
                                             previousLabel="Previous"
                                             nextLabel="Next"></pagination-controls>

                        <div fxLayoutAlign="center center">
                            <button (click)="create('course')" color="primary"
                                    mat-stroked-button>{{"Add" | translate}}
                                <mat-icon color="primary">add_task</mat-icon>
                            </button>
                        </div>

                    </div>

                    <div fxLayout="column" fxLayoutGap="2%" *ngIf="whichTable === 7" fxLayoutAlign="start center">
                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <th style="width: 5rem;">№</th>
                                <th style="width: 10rem">{{"Title" | translate}}</th>
                                <th style="width: 10rem">{{"Date" | translate}}</th>
                                <th style="width: 10rem">{{"Location" | translate}}</th>
                                <th style="width: 6rem">{{"Role" | translate}}</th>
                                <th style="width: 12rem">{{"Level" | translate}}</th>
                                <th style="width: 12rem">{{"The Type" | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="text-align: center;"
                                *ngFor="let activity of TeacherExhibitions | paginate: { id: 'activity', itemsPerPage: 10, currentPage: p }, let index = index">
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{index+1}}</th>
                                <td>{{activity.exName}}</td>
                                <td>{{activity.exDate | date}}</td>
                                <td>{{activity.exPlace}}</td>
                                <td>{{activity.exRole}}</td>
                                <td>{{activity.exLevel}}</td>
                                <td>{{activity.exType}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"
                                             id="activity"
                                             autoHide="true"
                                             responsive="true"
                                             previousLabel="Previous"
                                             nextLabel="Next"></pagination-controls>
                        <div fxLayoutAlign="center center">
                            <button (click)="create('exhibition')" color="primary"
                                    mat-stroked-button>{{"Add" | translate}}
                                <mat-icon color="primary">add_task</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start center" *ngIf="whichTable === 8">

                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <th style="width: 5rem;">№</th>
                                <th style="width: 10rem">{{"Name of the award / prize" | translate}}</th>
                                <th style="width: 10rem">{{"The Type" | translate}}</th>
                                <th style="width: 10rem">{{"Date of award / award" | translate}}</th>
                                <th style="width: 10rem">{{"Awarded by" | translate}}</th>
                                <th style="width: 10rem">{{"Who is awarded" | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="text-align: center;"
                                *ngFor="let activity of TeacherAwards | paginate: { id: 'award', itemsPerPage: 10, currentPage: p }, let index = index">
                                <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{index+1}}</th>
                                <td>{{activity.awardName}}</td>
                                <td>{{activity.awardType}}</td>
                                <td>{{activity.awardDate | date}}</td>
                                <td>{{activity.awardBy}}</td>
                                <td>{{activity.awardUserId.firstName}} {{activity.awardUserId.lastName}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"
                                             id="award"
                                             autoHide="true"
                                             responsive="true"
                                             previousLabel="Previous"
                                             nextLabel="Next"></pagination-controls>

                        <div fxLayoutAlign="center center">
                            <button (click)="create('award')" color="primary"
                                    mat-stroked-button>{{"Add" | translate}}
                                <mat-icon color="primary">add_task</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div *ngIf="whichTable === 9">
                        <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start center"
                             style="height: 70vh; margin: 0 0 10% 0; overflow-y: auto;">
                            <h2 class="textM">{{"Participation in working groups, development of proposals for bills, regulatory legal acts, programs and their expertise" | translate}}</h2>
                            <table style="width: 100%;">
                                <thead>
                                <tr>
                                    <th style="width: 5rem;">№</th>
                                    <th style="width: 10rem">{{"Title" | translate}}</th>
                                    <th style="width: 10rem">{{"From" | translate}}</th>
                                    <th style="width: 10rem">{{"To" | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="text-align: center;"
                                    *ngFor="let activity of Activity1 | paginate: { id: 'activity1', itemsPerPage: 10, currentPage: p }">
                                    <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{activity.activityId}}</th>
                                    <td>{{activity.activityName}}</td>
                                    <td>{{activity.activityFromDate | date}}</td>
                                    <td>{{activity.activityToDate | date}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"
                                                 id="activity1"
                                                 autoHide="true"
                                                 responsive="true"
                                                 previousLabel="Previous"
                                                 nextLabel="Next"></pagination-controls>
                            <div fxLayoutAlign="center center">
                                <button (click)="create('activity1')" color="primary"
                                        mat-stroked-button>{{"Add" | translate}}
                                    <mat-icon color="primary">add_task</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start center"
                             style="height: 70vh; margin: 5% 0 10% 0; overflow-y: auto;">
                            <h2 class="textM">{{"Participation in the examination of scientific, scientific and technical programs, projects, research reports, dissertations, scientific publications as part of the editorial boards of journals" | translate}}</h2>

                            <table style="width: 100%;">
                                <thead>
                                <tr>
                                    <th style="width: 5rem;">№</th>
                                    <th style="width: 10rem">{{"Title" | translate}}</th>
                                    <th style="width: 10rem">{{"From" | translate}}</th>
                                    <th style="width: 10rem">{{"To" | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="text-align: center;"
                                    *ngFor="let activity of Activity1 | paginate: { id: 'activity2', itemsPerPage: 10, currentPage: p }">
                                    <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{activity.activityId}}</th>
                                    <td>{{activity.activityName}}</td>
                                    <td>{{activity.activityFromDate | date}}</td>
                                    <td>{{activity.activityToDate | date}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"
                                                 id="activity2"
                                                 autoHide="true"
                                                 responsive="true"
                                                 previousLabel="Previous"
                                                 nextLabel="Next"></pagination-controls>

                            <div fxLayoutAlign="center center">
                                <button (click)="create('activity2')" color="primary"
                                        mat-stroked-button>{{"Add" | translate}}
                                    <mat-icon color="primary">add_task</mat-icon>
                                </button>
                                <!--                            <mat-paginator [pageSizeOptions]="[1, 2, 3, 4, 10]" [length]="paginator.length"-->
                                <!--                                           [pageSize]="paginator.size"-->
                                <!--                                           [pageIndex]="paginator.page"-->
                                <!--                                           (change)="changeTableList($event)"-->
                                <!--                                           (page)="changeTableList($event)"-->
                                <!--                                           showFirstLastButtons></mat-paginator>-->
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start center"
                             style="height: 70vh; margin: 5% 0 10% 0; overflow-y: auto;">
                            <h2 class="textM">{{"Participation in congresses, conferences, symposia, seminars of the international and republican level" | translate}}</h2>
                            <table style="width: 100%;">
                                <thead>
                                <tr>
                                    <th style="width: 5rem;">№</th>
                                    <th style="width: 10rem">{{"Title" | translate}}</th>
                                    <th style="width: 10rem">{{"From" | translate}}</th>
                                    <th style="width: 10rem">{{"To" | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="text-align: center;"
                                    *ngFor="let activity of Activity1 | paginate: { id: 'activity3', itemsPerPage: 10, currentPage: p }">
                                    <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{activity.activityId}}</th>
                                    <td>{{activity.activityName}}</td>
                                    <td>{{activity.activityFromDate | date}}</td>
                                    <td>{{activity.activityToDate | date}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"
                                                 id="activity3"
                                                 autoHide="true"
                                                 responsive="true"
                                                 previousLabel="Previous"
                                                 nextLabel="Next"></pagination-controls>
                            <div fxLayoutAlign="center center">
                                <button style="margin: 0 10% 0 35%" (click)="create('activity3')" color="primary"
                                        mat-stroked-button>{{"Add" | translate}}
                                    <mat-icon color="primary">add_task</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="start center"
                             style="height: 70vh; margin: 5% 0 10% 0; overflow-y: auto;">
                            <h2 class="textM">{{"Number of appearances on television and radio, publications in magazines, newspapers and electronic editions of republican and local newspapers" | translate}}</h2>

                            <table style="width: 100%;">
                                <thead>
                                <tr>
                                    <th style="width: 5rem;">№</th>
                                    <th style="width: 10rem">{{"Title" | translate}}</th>
                                    <th style="width: 10rem">{{"From" | translate}}</th>
                                    <th style="width: 10rem">{{"To" | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="text-align: center;"
                                    *ngFor="let activity of Activity4 | paginate: { id: 'activity4', itemsPerPage: 10, currentPage: p }, let index = index">
                                    <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{index+1}}</th>
                                    <td>{{activity.activityName}}</td>
                                    <td>{{activity.activityFromDate | date}}</td>
                                    <td>{{activity.activityToDate | date}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"
                                                 id="activity4"
                                                 autoHide="true"
                                                 responsive="true"
                                                 previousLabel="Previous"
                                                 nextLabel="Next"></pagination-controls>

                            <div fxLayoutAlign="center center">
                                <button (click)="create('activity4')" color="primary"
                                        mat-stroked-button>{{"Add" | translate}}
                                    <mat-icon color="primary">add_task</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="whichTable === 10">
                        <div>
                            <h2 class="textM">{{"The activity of the teachers of the department" | translate}}</h2>

                            <table style="width: 100%;">
                                <thead>
                                <tr>
                                    <th style="width: 5rem;">№</th>
                                    <th style="width: 10rem">{{"Teacher ID" | translate}}</th>
                                    <th style="width: 10rem">{{"Teacher Name" | translate}}</th>
                                    <th style="width: 10rem">{{"Uploaded date" | translate}}</th>
                                    <th style="width: 10rem">{{"Publication Name" | translate}}</th>
                                    <th style="width: 10rem">{{"Type of activity" | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="text-align: center;"
                                    *ngFor="let activity of StaffActivity | paginate: { id: 'staffAct', itemsPerPage: 10, currentPage: p }, let index = index">
                                    <th style="color: #8C8C8C; font-size: 12px; font-weight: 400">{{index+1}}</th>
                                    <td>{{activity.teacherId}}</td>
                                    <td>{{activity.teacherName}}</td>
                                    <td>{{activity.date | date}}</td>
                                    <td>{{activity.publicationName}}</td>
                                    <td>{{activity.type}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"
                                                 id="staffAct"
                                                 autoHide="true"
                                                 responsive="true"
                                                 previousLabel="Previous"
                                                 nextLabel="Next"></pagination-controls>

                        </div>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
    </div>
    <div fxFlex="5"></div>
</div>


<!--<ul>-->
<!--    <li *ngFor="let item of TeacherEvents | paginate: { id: 'event', itemsPerPage: 10, currentPage: p }"> {{item.eventId}} </li>-->
<!--    <li *ngFor="let item of TeacherEvents | paginate: { id: 'event', itemsPerPage: 10, currentPage: p }"> {{item.eventType}} </li>-->
<!--</ul>-->
<!--<pagination-controls id="event" (pageChange)="p = $event" autoHide="true" responsive="true" previousLabel="Previous"-->
<!--                     nextLabel="Next"-->
<!--                     screenReaderPaginationLabel="Pagination"-->
<!--                     screenReaderPageLabel="page"-->
<!--                     screenReaderCurrentLabel="You're on page"></pagination-controls>-->
